---
---

// fonts
@import 'hco_fonts';

body {
    font-family: 'HCo Gotham SSm';
}

a {
    color: #3AAC59;
    &:hover { color: #3AAC59; }
}

.section-button {
    display: inline-block;
    position: relative;
    padding: 1rem 5rem 1rem 3rem;
    color: #06250B !important;
    background-color: #3AAC59;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    vertical-align: middle;

    img {
        position: absolute;
        top: 18px;
        right: 30px;
    }
}

.action-arrow-button {
    cursor: pointer;
    color: #0C282A;
    transition: color 0.2s;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.583333px;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;

    &:hover {
        text-decoration: none;
        color: #469d62;
    }

    img {
        margin-top: -4px;
        margin-left: 20px;
    }
}

// pages
@import 'community';
@import 'faq';
@import 'homepage';
@import 'about';
@import 'news';
@import 'blog';
@import 'post';
@import 'green_paper';
@import 'proof_of_space_competition';
@import 'proof_of_time_contest';

// componentsab
@import 'footer';
@import 'navigation';
@import 'video';
