---
layout: default
---

{% include navigation.html %}
{% assign strings = site.data.strings[page.lang] %}
<div class="light-bg">
    <div class="white-bg col-8-container content-padding">
        <article class="col-6-container">
          <div class="container"
            <header class="article-header">
              <h1>404</h1>
            </header>
          </div>
            <div class="article-content">
               <p>Page not found 🙁</p>
                 
               <p>The requested page could not be found.</p>
                 
              <p>Maybe try our <a href="/">home page?</a></p>
               </p>
            </div>
        </article>
    </div>
</div>

<!--
{% include navigation.html %}
<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="header-section">
{% include navigation.html %}
    <div class="container">
       <h1>404</h1>

       <p><strong>Page not found :(</strong></p>
       <p>The requested page could not be found.</p>
       <p>Maybe try our <a href="/">home page?</a></p>
    </div>
</div>
-->