{% assign strings = site.data.strings[page.lang] %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 pb-5">
                <img class="logo" src="/img/chia_logo.svg" alt="chia_logo">
                <div class="copyright">{{ strings.footer_copyright_year }}</div>
            </div>
            <div class="col-md-3 pb-5">
                <h2>{{ strings.footer_language }}</h2>
                {% assign rows = site.data.languages.size | divided_by: 2.0 | ceil %}
                {% for i in (1..rows) %}
                    {% assign offset = forloop.index0 | times: 2 %}
                    <div class="mb-2">
                        {% for lang in site.data.languages limit:2 offset:offset %}
                            {% if forloop.first == false %} &#8226; {% endif %}<a href="{{ lang.path }}">{{ lang.name }}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3 pb-5">
                <h2>{{ strings.footer_contact }}</h2>
                {% if site.data.contact.email %}
                    <div class="mb-3">
                        <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
                    </div>
                {% endif %}
                {% if site.data.contact.phone %}
                    <div class="mb-3">
                        <a href="mailto:{{ site.data.contact.phone }}">{{ site.data.contact.phone }}</a>
                    </div>
                {% endif %}
                <div>{{ site.data.contact.address | newline_to_br }}</div>
            </div>
            <div class="col-md-3 pb-5">
                <h2>{{ strings.footer_find_us }}</h2>
                <a href="https://twitter.com/{{ site.data.contact.twitter_username }}"><img class="m-2" src="/img/twitter.svg" alt="Twitter Logo"></a>
                <a href="https://www.facebook.com/{{ site.data.contact.facebook_username }}"><img class="m-2" src="/img/facebook.svg" alt="Facebook Logo"></a>
                <a href="https://medium.com/@{{ site.data.contact.medium_username }}"><img class="m-2" src="/img/medium.svg" alt="Medium Logo"></a>
                <a href="https://github.com/{{ site.data.contact.github_username }}"><img class="m-2" src="/img/github.svg" alt="GitHub Logo"></a>
                <a href="https://instagram.com/{{ site.data.contact.instagram_username }}"><img class="m-2" src="/img/instagram.svg" alt="Instagram Logo"></a>
            </div>
        </div>
        <div class="disclaimer">{{ strings.footer_disclaimer }}</div>
    </div>
</footer>
