{% assign strings = site.data.strings[page.lang] %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between py-5">
                    <div class="contact-details">
                        <a href="https://github.com/{{ site.data.contact.github_username }}" target="_blank" rel="noreferrer noopener"><img class="m-2" src="/img/social/github_light.svg" alt="GitHub Logo"></a>
                        <a href="https://twitter.com/{{ site.data.contact.twitter_username }}" target="_blank" rel="noreferrer noopener"><img class="m-2" src="/img/social/twitter_light.svg" alt="Twitter Logo"></a>
                        <a href="https://www.facebook.com/{{ site.data.contact.facebook_username }}" target="_blank" rel="noreferrer noopener"><img class="m-2" src="/img/social/facebook_light.svg" alt="Facebook Logo"></a>
                        <a href="https://instagram.com/{{ site.data.contact.instagram_username }}" target="_blank" rel="noreferrer noopener"><img class="m-2" src="/img/social/instagram_light.svg" alt="Instagram Logo"></a>
                        <a href="https://medium.com/@{{ site.data.contact.medium_username }}" target="_blank" rel="noreferrer noopener"><img class="m-2" src="/img/social/medium_light.svg" alt="Medium Logo"></a>
                    </div>
                    <div style="text-align: right">
                        <img class="logo" src="/img/chia_logo.svg" alt="chia_logo">
                        <div class="copyright">{{ strings.footer_copyright_year }} | <a href="/terms">Terms</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
