{% assign strings = site.data.strings[page.lang] %}

<footer class="site-footer" role="contentinfo">
    <div class="col-12-container">
        <div class="footer-content-container">
            <div class="footer-logo">
                <img src="/img/branding/chia-logo-white.svg" alt="Chia Network Logo">
            </div>
            <div class="footer-company-links">
                <div class="footer-col">
                    <h4>Approach</h4>
                    <ul>
                        <li><a href="/approach">White Paper</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Technology</h4>
                    <ul>
                        <li><a href="/greenpaper">Green Paper</a></li>
                        <li><a href="https://docs.chia.net/docs/03consensus/consensus_intro/" target="_blank">Consensus 1.1</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Documentation</h4>
                    <ul>
                        <li><a href="https://docs.chia.net/" target="_blank">Chia Docs</a></li>
                        <li><a href="https://chialisp.com" target="_blank">Chialisp</a></li>
                        <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki" target="_blank">Chia Blockchain Wiki</a></li>
                        <li><a href="/grants">Cultivation Grant Program</a></li>
                        <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/FAQ" target="_blank">Chia Technical FAQ</a></li>
                        <li><a href="/faq">Chia Network Inc. FAQ</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/careers">Careers</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-col social-links">
                    <ul>
                        <li>
                            <img class="chia-icon social-icon" src="/img/social/github-white.svg" alt="Github">
                            <a href="https://github.com/{{ site.data.contact.github_username }}" target="_blank" rel="noreferrer noopener">Github</a>
                        </li>
                        <li>
                            <img class="chia-icon social-icon" src="/img/social/twitter-white.svg" alt="Twitter">
                            <a href="https://twitter.com/{{ site.data.contact.twitter_username }}" target="_blank" rel="noreferrer noopener">Twitter</a>
                        </li>
                        <li>
                            <img class="chia-icon social-icon" src="/img/social/facebook-white.svg" alt="Facebook">
                            <a href="https://www.facebook.com/{{ site.data.contact.facebook_username }}" target="_blank" rel="noreferrer noopener">Facebook</a>
                        </li>
                        <li>
                            <img class="chia-icon social-icon" src="/img/social/instagram-white.svg" alt="Facebook">
                            <a href="https://instagram.com/{{ site.data.contact.instagram_username }}" target="_blank" rel="noreferrer noopener">Instagram</a>
                        </li>
                        <li>
                            <img class="chia-icon social-icon" src="/img/social/linkedin-white.svg" alt="LinkedIn">
                            <a href="https://www.linkedin.com/company/{{ site.data.contact.linkedin_username }}" target="_blank" target="_blank" rel="noreferrer noopener">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
            <p><small>© Chia Network 2021 | <a href="/terms">Terms</a></small></p>
        </div>
    </div>
</footer>
