{% assign strings = site.data.strings[page.lang] %}
{% if page.lang == "en" %}
{% assign site_prefix = "" %}
{% else %}
{% assign site_prefix = page.lang | prepend:"/" %}
{% endif %}

<header role="menubar" class="main-header">
    <nav class="main-menu" role="navigation">
        <div class="site-branding">
            <a class="site-logo" href="{{ site_prefix }}/"><img src="/img/branding/chia-logo.svg" alt="Chia Network Logo"></a>
        </div>
        <ul class="main-menu-links" role="menu">
            <li class="nav-item{% if include.active == "blog" %} active{% endif %}">
                <a href="{{ site_prefix }}/blog">{{ strings.navigation.blog }}</a>
            </li>
            <li class="nav-item{% if include.active == "news" %} active{% endif %}">
                <a href="{{ site_prefix }}/news">{{ strings.navigation.news }}</a>
            </li>
            <li class="nav-item{% if include.active == "faq" %} active{% endif %}">
                <a href="{{ site_prefix }}/faq">{{ strings.navigation.faq }}</a>
            </li>
            <li class="nav-item{% if include.active == "greenpaper" %} active{% endif %}">
                <a href="{{ site_prefix }}/greenpaper">{{ strings.navigation.greenpaper }}</a>
            </li>
            <li class="nav-item{% if include.active == "about" %} active{% endif %}">
                <a href="{{ site_prefix }}/about">{{ strings.navigation.about }}</a>
            </li>
            <li class="nav-item{% if include.active == "careers" %} active{% endif %}">
                <a href="{{ site_prefix }}/careers">{{ strings.navigation.careers }}</a>
            </li>
            <li class="nav-item{% if include.active == "contact" %} active{% endif %}">
                <a href="{{ site_prefix }}/contact">{{ strings.navigation.contact }}</a>
            </li>
           <li class="nav-item{% if include.active == "grants" %} active{% endif %}">
                <a href="{{ site_prefix }}/grants">{{ strings.navigation.grants }}</a>
            </li>
            <li class="nav-item{% if include.active == "download" %} active{% endif %} main-menu-button">
                <a href="{{ site_prefix }}/download">{{ strings.navigation.farm-chia }}</a>
            </li>
        </ul>
        <div class="menu-icon">
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
        </div>
    </nav>
</header>

{% comment %}
<div class="nav-divider px-2 px-xl-5"><div></div></div>

{% assign current_lang_prefix = '\n' | append:site_prefix | append:'/' %}
{% assign current_page_url = page.url | prepend:'\n' | remove:current_lang_prefix %}
<div class="dropdown d-none d-lg-block pr-xl-3">
    {% assign page_lang = site.data.languages | where: "code", page.lang | first %}
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="languageMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ page_lang.name }}</a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageMenuLink">
        {% for lang in site.data.languages %}<a class="dropdown-item" href="{{ lang.path }}/{{ current_page_url }}">{{ lang.name }}</a>{% endfor %}
    </div>
</div>
<div class="dropup d-lg-none py-3">
    {% assign page_lang = site.data.languages | where: "code", page.lang | first %}
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="languageMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ page_lang.name }}</a>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="languageMenuLink">
        {% for lang in site.data.languages %}<a class="dropdown-item" href="{{ lang.path }}/{{ current_page_url }}">{{ lang.name }}</a>{% endfor %}
    </div>
</div>
{% endcomment %}