<div class="video">
    <script type="text/javascript">
    function videoPlayPause(playPauseButton) {
        var videoTag = playPauseButton.parentElement.querySelector('video');
        var previewImage = playPauseButton.parentElement.querySelector('.preview');
        if (videoTag.paused) {
            videoTag.play();
            playPauseButton.classList.add("playing");
            if (previewImage !== null) {
                previewImage.remove();
            }
        } else {
            videoTag.pause();
            playPauseButton.classList.remove("playing");
        }
    }
    </script>
    <div class="video-wrapper">
        <video tabindex="-1" preload="auto">
            <source src="{{ include.path }}" type="{{ include.mimetype }}" poster="{{ include.thumbnail }}">
            <source src="{{ include.fallback_path }}" type="{{ include.fallback_mimetype }}" poster="{{ include.thumbnail }}">
            <img src="{{ include.thumbnail }}" title="Your browser does not support the video tag.">
        </video>
        <img class="preview" src="{{ include.thumbnail }}">
        <div class="play-pause" onclick="videoPlayPause(this)">
            <div class="icon"></div>
        </div>
    </div>
</div>
