/*--------------------------------------------------------------
# Team Members
--------------------------------------------------------------*/

.team-members {
    @include grid-width(1074);
    @include center-block;
    display: grid;
    gap: rem(24) rem(24);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    @include breakpoint(768) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*--------------------------------------------------------------
# Team Member
--------------------------------------------------------------*/

.team-member {
    img {
        border-radius: rem(8);
        margin-bottom: rem(8);
    }
    span {
        display: block;
    }
    .team-name {
        @include typeset($body-font-size, 24);
        font-weight: 700;
        margin-bottom: rem(4);
    }
    .team-title {
        @include typeset($small-font-size, 21);
        color: rgba($text-color, 0.5);
    }
}

/*--------------------------------------------------------------
# Investors
--------------------------------------------------------------*/

.investors {
    @include grid-width(1074);
    @include center-block;
    display: grid;
    gap: rem(24) rem(24);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    @include breakpoint(768) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*--------------------------------------------------------------
# Investor
--------------------------------------------------------------*/

.investor {
    img {
        border-radius: rem(8);
    }
}