.community {
    align-items: center;

    .header-container {
        position: relative;
        background: #FAFAFA;
        -webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.25);
        -moz-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.25);
        box-shadow: inset 0 0 10px 0px rgba(0,0,0,0.25);
        padding: 5rem 0;
        color: #0C282A;

        h1 {
            font-size: 36px;
            letter-spacing: 1.5px;
            line-height: 37px;
            margin-bottom: 1rem;
        }

        p {
            font-size: 18px;
            line-height: 31px;
        }

        .email-form {
            margin: auto;

            input {
                width: 300px;
                padding: 0.5rem;
            }

            button {
                position: relative;
                padding: 1rem 4rem 1rem 3rem;
                border: none;
                color: inherit;
                background-color: #469D62;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                white-space: nowrap;
                text-decoration: none;
    
                img {
                    display: inline-block;
                    margin-left: 0.5rem;
                }
            }
        }
    }

    .content {
        font-size: 16px;
        color: #606060;
        line-height: 24px;
        margin: 15px;
        border-bottom: 1px solid rgba(rgb(199, 190, 190), 0);

        h2 {
            font-size: 24px;
            color: #506060;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    
        h3 {
            font-size: 18px;
            color: #506060;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .expand-btn, .collapse-btn {
            border: none;
            font-size: 16px;
            color: #5A6D6E;
            line-height: 21px;
            margin: 0;
            margin-top: 20px;
        }
    }
}