.contact {
    align-items: center;
    color: #0C282A;

    .details {
        .join-keybase.btn {
            display: inline-block;
            padding: 1rem;
            box-shadow: 0 2px 27px 0 rgba(0,0,0,0.09);
            border: 3px solid #3AAC59;
            border-radius: 3px;
            color: #3AAC59;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }

        h2 {
            font-size: 24px;
            font-weight: bold;
        }

        a {
            color: inherit;
        }

        .contact-email {
            display: block;
            font-size: 24px;
            margin-bottom: 1rem;
        }

        .details-box {
            margin-top: 2rem;
            margin-bottom: 3rem;;
            padding: 0.5rem 3rem;
            border-left: 1px solid #808080;

            .handle {
                padding: 0.5rem 0;

                img {
                    width: 24px; margin-right: 0.2rem;
                }
            }

            .email-box {
                padding: 0;
                margin-top: 2rem;
                background-color: transparent;

                h2 {
                    margin-bottom: 0;
                }
            }
        }
    }

    .keybase-live-feed iframe {
        margin-top: 2rem;
        width: 100%;
        height: 40rem;
        border: none;
    }
}
