.download {
    .header-section {
        p {
            font-size: 24px;
        }
    }

    .content {
        h2 {
            font-weight: bold;
            font-size: 32px;
            margin-top: 3rem;
            margin-bottom: 2rem;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .downloads-box {
        background: #EEEEEE;
        border-radius: 2px;

        h2 {
            font-weight: bold;
            font-size: 24px;
        }

        h3 {
            font-weight: bold;
            font-size: inherit;
        }

        .btn {
            background: #3AAC59;
            color: white;
            border-radius: 2px;
            font-weight: bold;
            font-size: 18px;
            padding: 1em;

            img {
                margin-bottom: 3px;
                margin-right: 0.5rem;
                height: 24px;
            }
        }
    }

    .release-notes {
        color: #3AAC59;
        text-decoration: underline;
        margin-top: 40px;
        font-weight: bold;
    }
}
