.errata {
    background: #FAFAFA;
    padding: 96px 0px 0px 0px;
    font-size: 20px;
    color: #0C282A;

    .paper {
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.18);
        border-radius: 6px;
        padding: 64px;
        margin-bottom: 96px;
    }
    
    h2 {
        font-weight: 900;
        font-size: 42px;
        color: #0C282A;
        margin-bottom: 32px;
    }
    
    hr {
        margin: 64px 0px;
    }
    
    h3 {
        font-size: 24px;
        color: #0C282A;
        font-weight: bold;   
        margin-bottom: 32px;
    }
    
    h4, h4 p {
        font-weight: bold;
        font-size: 20px;
        color: #219653;
        margin-bottom: 20px;
    }
    
    table {
        border-collapse: collapse;
        margin: 0 auto;
        
        th {
            text-align: center;;
        }

        th, td {
            padding: 1em;
            border: 1px solid gray;
        }
    }
    
    .stay-updated-section {
        background: #EEEEEE;
        padding: 80px 0px;
    }
}

@media(max-width: 768px) {
    .errata {
        padding: 24px 0px 0px 0px;
        .paper {
            padding: 64px 16px 32px 16px;
            margin-bottom: 24px;
        }
        h2 {
            font-size: 36px;
            margin-bottom: 32px;
        }
        
        p {
            font-size: 18px;
        }
        
        hr {
            margin: 32px 0px;
        }
        
        h3 {
            font-size: 24px;
            margin-bottom: 32px;
        }
        
        h4 {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}