.faq {
    color: #0C282A;
    padding-bottom: 3rem;

    h1 {
        font-weight: 900;
        line-height: 37px;
        font-size: 36px;
        letter-spacing: 1.5px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .faq-entry {
        padding: 1rem 0;

        h2 {
            font-weight: bold;
            font-size: 32px;
            margin-bottom: 2rem;
        }

        p {
            font-size: 16px;
        }
    }

    .faq-summary-box {
        background: #eee;

        h2 {
            font-size: 24px;
            padding: 1rem 30px;
            padding-top: 2rem;
        }

        a {
            color: inherit;
            display: block;
            padding: 1rem 30px;
            border-top: 1px solid #ddd;
        }
    }
}
