.green-paper {
    padding-bottom: 3rem;

    .btn {
        display: inline-block;
        padding: 1rem 3rem;
        background: #3AAC59;
        color: white;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        border-radius: 2px;
        margin-top: 7px;
        margin-bottom: 36px;;
    }

    img {
        padding: 10rem;
    }
}
