/*--------------------------------------------------------------
# Value Props
--------------------------------------------------------------*/

.chia-value-props {
    
}

/*--------------------------------------------------------------
# Value Props Grid
--------------------------------------------------------------*/

.value-props-grid {
    @include breakpoint(900) {
        display: grid;
        gap: rem(24) rem(24);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

/*--------------------------------------------------------------
# Value Props
--------------------------------------------------------------*/

.value-prop {
    border-radius: rem(8);
    margin-bottom: rem(24);
    padding: rem(24) 24 / 586 * 100% rem(24);
    &:nth-child(4) {
        margin-bottom: 0;
    }
    h2 {
        background-image: url(/img/bg/gradient-border_@2x.png);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: rem(180) rem(16);
        padding-bottom: rem(48);
    }
    @include breakpoint(460) {
        padding: 60 / 586 * 100%;
    }
    @include breakpoint(900) {
        margin-bottom: 0;
    }
}

/*--------------------------------------------------------------
# Call to Action Link
--------------------------------------------------------------*/

.chia-cta {
    margin-top: rem(24);
    a {
        font-weight: 700;
    }
}