/*--------------------------------------------------------------
# Superhero
--------------------------------------------------------------*/
.superhero {
    background-color: $dark-green;
    background-image: url(/img/bg/icon-tile_@2x.png);
    background-position: 50%;
    background-repeat: repeat;
    background-size: rem(200) rem(200);
    color: $white;
    display: flex;
    flex-direction: column;
    @include breakpoint(992) {
        align-items: center;
        flex-direction: row;
    }
}

/*--------------------------------------------------------------
# Superhero Content Container
--------------------------------------------------------------*/

.superhero-content-container {
    margin: rem(60) rem(24);
    @include breakpoint(992) {
        margin: 0;
        width: 854 / $col-12-width * 100%;
    }
}

/*--------------------------------------------------------------
# Superhero Content
--------------------------------------------------------------*/

.superhero-content {
    @include grid-width($col-5-width);
    @include breakpoint(992) {
        margin-left: 122 / 854 * 100%;
        max-width: none;
        width: 586 / 854 * 100%;
    }
}

/*--------------------------------------------------------------
# Superhero Image
--------------------------------------------------------------*/

.superhero-img {
    display: none;
    @include breakpoint(992) {
        background-color: $chia-green;
        display: block;
        width: 586 / $col-12-width * 100%;
    }
}

/*--------------------------------------------------------------
# Value Props Grid
--------------------------------------------------------------*/

.value-props-grid {
    @include breakpoint(900) {
        display: grid;
        gap: rem(24) rem(24);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

/*--------------------------------------------------------------
# Value Props
--------------------------------------------------------------*/

.value-prop {
    border-radius: rem(8);
    margin-bottom: rem(24);
    padding: rem(24) 24 / 586 * 100% rem(24);
    &:nth-child(4) {
        margin-bottom: 0;
    }
    h2 {
        background-image: url(/img/bg/gradient-border_@2x.png);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: rem(180) rem(16);
        padding-bottom: rem(48);
    }
    @include breakpoint(460) {
        padding: 60 / 586 * 100%;
    }
    @include breakpoint(900) {
        margin-bottom: 0;
    }
}

/*--------------------------------------------------------------
# Call to Action Link
--------------------------------------------------------------*/

.chia-cta {
    margin-top: rem(24);
    a {
        font-weight: 700;
    }
}