.homepage {
    h2 { font-size: 32px; }

    .navbar {
        .navbar-toggler, .hiring-button {
            border-color: #469D62;
            color: #469D62;
            background-color: #0C282A;
        }
    }

    .header-container {
        z-index: 0;
        background-color: #0C282A;
        height: 725px;
        position: relative;

        .background-dots {
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
        }

        .header {
            position: absolute;
            width: 550px;
            top: 200px;
            left: 100px;
        
            h1 {
                font-size: 67px;
                color: #FFFFFF;
            }
            
            p {
                margin-top: 20px;
                font-size: 24px;
                color: #FFFFFF;
            }
        }
    }

    .details-container {
        background-image: url("/img/homepage_grey_dots_left.svg"), url("/img/homepage_grey_dots_right.svg");
        background-position: left top, right bottom;
        background-repeat: no-repeat, no-repeat;

        .description {
            .description-header {
                text-transform: uppercase;
                color: #469d62;
                margin-bottom: 1rem;
        
                .separator-line {
                    vertical-align: middle;
                    display: inline-block;
                    width: 50px;
                    height: 2px;
                    background-color: black;
                }
            }

            h2 { font-size: 36px; }
            p { font-size: 18px; }
        }

        .post {
            text-decoration: none;

            p { color: gray; }
            h3 { color: black; }

            &:hover h3 { text-decoration: underline; }
        }
    }

    .community-container {
        background-color: #f8f8f8;
    
        .community-post {
            padding: 2rem;
    
            h3 {
                font-size: 14px;
                color: #469d62;
            }

            p {
                font-size: 12px;
                line-height: 22px;
            }

            a {
                color: #0C282A;
                text-transform: uppercase;
            }
        }
    }

    .about-container {
        background-color: #f8f8f8;

        .about-video {
            position: absolute;
        }
    }

    .investor-container {
        background-color: white;
        margin-left: 50%;

        h3 {
            font-size: 14px;
            color: #469d62;
            text-transform: uppercase;
        }

        .investor-pic {
            display: flex;
            align-items: center;
            height: 89px;

            img {
                max-height: 89px;
            }
        }
    }

    .hiring-container {
        background: #0C282A url("/img/homepage_green_dots.svg") no-repeat right bottom;
        padding: 5rem;
        color: white;

        .hiring {
            width: 550px;

            h2 {
                font-size: 67px;
            }
            
            p {
                margin-top: 20px;
                font-size: 24px;
            }
        }

        .hiring-button {
            position: relative;
            padding: 1rem 4rem 1rem 3rem;
            background-color: #469D62;
            color: #0C282A;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            white-space: nowrap;
            text-decoration: none;

            img {
                position: absolute;
                top: 14px;
                right: 15px;
            }
        }
    }
}

@media(max-width: 768px) {
    .homepage {
        .header-container {
            height: 500px;

            .background-dots {
                top: auto;
                bottom: 3rem;
            }

            .header {
                padding: 3rem;
                width: auto;
                position: static;

                h1 {
                    font-size: 48px;
                }
                
                p {
                    margin-top: 20px;
                    font-size: 24px;
                    color: #FFFFFF;
                    letter-spacing: 1px;
                    line-height: 54px;
                }
            }
        }

        .details-container {
            .description {
                p {
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }

        .about-container {
            .about-video {
                position: static;
            }
        }

        .investor-container {
            margin-left: 0;
            
            h3 { font-size: 18px; }
        }

        .hiring-container {
            background-image: none;

            .hiring {
                width: auto;
            }
        }
    }
}