/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/

.chia-icon {
	display: inline-block;
	vertical-align: middle;
}

/*--------------------------------------------------------------
# Social Icon
--------------------------------------------------------------*/

.social-icon {
	margin-right: rem(8);
}

/*--------------------------------------------------------------
# Value Prop Icon
--------------------------------------------------------------*/

.value-prop-icon {
	margin-bottom: rem(16);
}

/*--------------------------------------------------------------
# UI Icon
--------------------------------------------------------------*/
.ui-icon {
	margin-left: rem(4);
	top: -(rem(1));
}

/*--------------------------------------------------------------
# Baseline Icon
--------------------------------------------------------------*/

.baseline-icon {
	top: auto;
	vertical-align: baseline;
}