.navbar {
    padding-bottom: 0;
    background-color: #0C282A;

    .navbar-brand img {
        height: 3rem;
        padding-left: 5rem;
    }
    
    .nav-item {
        position: relative;

        .nav-link {
            color: white;
            font-weight: 600;
            line-height: 31px;
            font-size: 16px;
            letter-spacing: 0.666667px;
        }
    }

    .nav-item.active {
        .nav-link { color: #3AAC59; }

        .highlight {
            display: inline-block;
            position: absolute;
            left: calc(50% - 15px);
            bottom: 0;
            width: 30px;
            border-top: 3px solid #3AAC59;
        }
    }

    .navbar-nav a {
        padding: 3rem 2rem !important;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    
    .hiring-button {
        position: relative;
        margin-left: 5rem;
        margin-right: 2rem;
        display: inline-block;
        padding: 1rem 4rem 1rem 3rem;
        border: 2px solid #469D62;
        color: #469D62;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;

        img {
            position: absolute;
            right: 20px;
            top: 22px;
        }
    }

    .hiring-button:hover {
        color: #6E967B;
        text-decoration: underline;
    }
}

@media(max-width: 960px) {
    .navbar {
        .navbar-brand img {
            padding-left: 2rem;
            margin: 1rem 0;
        }

        .nav-item.active {
            .highlight { display: none !important; }
        }

        .navbar-nav a {
            padding: 1rem 2rem !important;
        }

        .hiring-button {
            margin: 2rem;
            display: inline-block;
            background: #0C282A;
        }
    }
}