.news {
    padding-bottom: 4rem;

    .card {
        line-height: 31px;
        padding: 20px;
    }

    h1 {
        font-weight: bold;
    }

    .jumbotron {
        position: relative;
        padding: 0;
        margin-top: 3rem;

        a {
            text-decoration: none;
            transition: opacity 0.4s;
            opacity: 1;

            &:hover { opacity: 0.7; }

            .date {
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                color: #2B693C;
            }
    
            .headline {
                font-weight: bold;
                line-height: 41px;
                font-size: 40px;
                letter-spacing: 1.75px;
                color: #0C282A;
                margin-top: 1.5rem;
            }

            .source {
                margin-top: 1rem;
                font-size: 14px;
                text-transform: uppercase;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #0C282A;
            }
    
            .tagline {
                font-weight: normal;
                font-size: 20px;
                color: #0C282A;
                margin-top: 0.5rem;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .jumbotron-divider {
        border-top: 1px solid #e7e7e7;
        margin: 2rem 0;
    }
     
    .article {
        padding: 2rem;
        text-decoration: none;

        &:hover {
            .headline { opacity: 0.7; }

            img { opacity: 0.7; }
        }

        img {
            transition: opacity 0.4s;
            opacity: 1;
            width: 100%;
            height: 15rem;
            object-fit: cover;
        }

        .date {
            margin-top: 1rem;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            color: #2B693C;
        }

        .source {
            margin-top: 1rem;
            font-size: 14px;
            text-transform: uppercase;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #0C282A;
        }

        .headline {
            margin-top: 1rem;
            font-weight: bold;
            line-height: 32px;
            font-size: 28px;
            color: #0C282A;
            transition: opacity 0.4s;
            opacity: 1;
        }
    }
    
    #see-more-button {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding: 0.7rem 3rem 0.7rem 3rem;
        box-shadow: 0 2px 27px 0 rgba(0,0,0,0.09);
        border: 3px solid #3AAC59;
        border-radius: 3px;
        margin: 0 auto;
        margin-top: 2rem;
        text-align: center;
        color: #3AAC59;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
}
