.releases-page {
    padding-bottom: 3rem;

    h1 {
        font-weight: 900;
        margin-top: 40px;
        padding-bottom: 2rem;
    }

    .release {
        font-size: 1.3rem;
        padding: 0.5rem 0;

        a {
            color: #0C282A;
            font-weight: bold;
        }
    }
}
