.releases-page {
    padding-bottom: 3rem;

    .release {
        font-size: 1.3rem;
        padding: 0.5rem 0;

        a {
            color: #0C282A;
            font-weight: bold;
        }
    }
}
