---
layout: default
---

{% include navigation.html active="about" %}
{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>{{ strings.about_title }}</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            {{ strings.about_description | markdownify }}
        </div>
    </div>
</div>

<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt" style="padding-bottom: 35px;">
                <h2>{{ strings.about_team_title }}</h2>
                {{ strings.about_team_description | markdownify }}
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-03_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-10-container featured-section">
        <h2>Chia Leadership</h2>
    </div>
    <div class="team-members">
        <div class="team-member">
            <a href="/profiles/bram-cohen"><img src="/img/headshots/bram-cohen_@2x.jpg" alt="Bram Cohen"></a>
            <span class="team-name">Bram Cohen</span>
            <span class="team-title">Director, Chairman, Chief Executive Officer and Founder</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/gene-hoffman"><img src="/img/headshots/gene-hoffman_@2x.jpg" alt="Gene Hoffman"></a>
            <span class="team-name">Gene Hoffman</span>
            <span class="team-title">Director, Chief Operating Officer and President</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/misha-graboi"><img src="/img/headshots/misha-graboi_@2x.png" alt="Misha Graboi"></a>
            <span class="team-name">Misha Graboi</span>
            <span class="team-title">Chief Financial Officer</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/william-blanke"><img src="/img/headshots/william-blanke_@2x.png" alt="William Blanke"></a>
            <span class="team-name">Dr. William Blanke</span>
            <span class="team-title">VP of Engineering</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/steve-booth"><img src="/img/headshots/steve-booth_@2x.png" alt="Steve Booth"></a>
            <span class="team-name">Steve Booth</span>
            <span class="team-title">VP of Sales</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/neil-cohn"><img src="/img/headshots/neil-cohn_@2x.png" alt="Neil Cohn"></a>
            <span class="team-name">Neil Cohn</span>
            <span class="team-title">VP of Markets and Sustainability</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/j-eckert"><img src="/img/headshots/j-eckert_@2x.png" alt="J. Eckert"></a>
            <span class="team-name">J. Eckert</span>
            <span class="team-title">VP of Ecosystems Operations</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/paul-ford"><img src="/img/headshots/paul-ford_@2x.png" alt="Paul Ford"></a>
            <span class="team-name">Paul Ford</span>
            <span class="team-title">VP of Developer Relations</span>
        </div>
                
        <div class="team-member">
            <a href="/profiles/ken-griggs"><img src="/img/headshots/ken-griggs_@2x.png" alt="Ken Griggs"></a>
            <span class="team-name">Ken Griggs</span>
            <span class="team-title">Sr Director of Customer Success</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/paul-hainsworth"><img src="/img/headshots/paul-hainsworth_@2x.png" alt="Paul Hainsworth"></a>
            <span class="team-name">Paul Hainsworth</span>
            <span class="team-title">VP of Product</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/jonmichael-hands"><img src="/img/headshots/jonmichael-hands_@2x.png" alt="Jonmichael Hands"></a>
            <span class="team-name">Jonmichael Hands</span>
            <span class="team-title">VP Storage Business Development</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/vishal-kapoor"><img src="/img/headshots/vishal-kapoor_@2x.jpg" alt="Vishal Kapoor"></a>
            <span class="team-name">Vishal Kapoor</span>
            <span class="team-title">SVP of Business Development</span>
        </div>
        
                
        <div class="team-member">
            <a href="/profiles/russell-saito"><img src="/img/headshots/russell-saito_@2x.png" alt="Russell Saito"></a>
            <span class="team-name">Russell Saito</span>
            <span class="team-title">VP of Business Development</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/ali-shadle"><img src="/img/headshots/ali-shadle_@2x.png" alt="Ali Shadle"></a>
            <span class="team-name">Ali Shadle</span>
            <span class="team-title">VP of Operations</span>
        </div>
        
        <div class="team-member">
            <a href="/profiles/richard-tsao"><img src="/img/headshots/richard-tsao_@2x.png" alt="Richard Tsao"></a>
            <span class="team-name">Richard Tsao</span>
            <span class="team-title">VP of Business Development SE Asia</span>
        </div>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-10-container featured-section">
        <h2>{{ strings.about_invest_investors_title }}</h2>
    </div>
    <div class="investors">
        <div class="investor">
            <a href="https://theangelphilosopher.com/" target="_blank"><img src="/img/investors/naval-ravikant_@2x.png" alt="Naval Ravikant"></a>
        </div>
        <div class="investor">
            <a href="https://a16z.com/" target="_blank"><img src="/img/investors/andreesen-horowitz-logo_@2x.png" alt="Andreesen Horowitz Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.greylock.com/" target="_blank"><img src="/img/investors/greylock-logo_@2x.png" alt="Greylock Logo"></a>
        </div>
        <div class="investor">
            <a href="https://trueventures.com/" target="_blank"><img src="/img/investors/true-ventures-logo_@2x.png" alt="True Ventures Logo"></a>
        </div>
        <div class="investor">
            <a href="https://slow.co/" target="_blank"><img src="/img/investors/slow-ventures-logo_@2xpng.png" alt="Slow Ventures Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.galaxydigital.io/" target="_blank"><img src="/img/investors/galaxy digital-logo_@2x.png" alt="Galaxy Digital Logo"></a>
        </div>
        <div class="investor">
            <a href="https://stillmark.co/" target="_blank"><img src="/img/investors/stillmark-logo_@2x.png" alt="Stillmark Logo"></a>
        </div>
        <div class="investor">
            <a href="https://www.dcm.com/en/about" target="_blank"><img src="/img/investors/dcm-logo_@2x.png" alt="DCM Logo"></a>
        </div>
        <div class="investor">
            <a href="https://metastablecapital.com/" target="_blank"><img src="/img/investors/metastable-logo_@2x.png" alt="MetaStable Logo"></a>
        </div>
    </div>
    <div class="white-bg content-padding">
        <div class="col-10-container featured-section">
            <div class="full-width-col" style="padding-left: 60px;">
                <h2>Legal</h2>
                {{ strings.terms_team_description | markdownify }}
                </div>
            </div>
        </div>
    </div>
</div>
