---
layout: default
---

{% include navigation.html type="light" active="about" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="container-fluid about">
    <div class="row about-container header-container">
        <div class="col-sm-12 no-pad-col">
            <h1>{{ strings.about_title }}</h1>
            {{ strings.about_description | markdownify }}
        </div>
    </div>

    <div class="row about-container leadership-container">
        <h1 class="title">{{ strings.about_leadership_title }}</h1>
        <div class="row">
            {% assign team = site.team | where:"lang",page.lang | sort: "order" %}
            {% for entry in team %}
                <div class="team-card col-sm-6">
                    <img src="{{ entry.img_src }}">
                    <h3 class="">{{ entry.name }}</h3>
                    <h4 class="">{{ entry.title }}</h4>
                    <p class="">{{ entry.content }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="about-container careers-container row">
        <div class="col-sm-12 no-pad-col">
            <h1>{{ strings.about_careers_title }}</h1>
            {{ strings.about_careers_description | markdownify }}
        </div>
    </div>

    <div class="about-container press-container row">
        <div class="col-sm-12 no-pad-col">
            <h1>{{ strings.about_press_title }}</h1>
            {{ strings.about_press_description | markdownify }}
        </div>
    </div>

</div>
