---
layout: default
---

{% include navigation.html active="grants" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>Approach</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
               The Chia Business Whitepaper goes into depth on the transformative impact that programmable digital money is going to have in finance, wealth, safety, digital security, and ultimately the entire concept of trust.    
            </p>
        </div>
<!--
        <div class="two-col-txt">
            <div class="two-col txt-col-left">
                {{ strings.grants_why_1 | markdownify }}
            </div>
            <div class="two-col txt-col-right">
                {{ strings.grants_why_2 | markdownify }}
            </div>
        </div>
-->
    </div>
</div>

<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt">
                <!--<h2>Read the Business Whitepaper</h2>-->
                <p>
                    The business whitepaper outlines how we plan to go to market, how we plan to use the corporate form to do that, and how we intend to use our pre-farm. It also explains the tokenomics of Chia coins and walks through the controls we are putting in place to assure that the pre-farm is a secure and predictable tool that we will use to finance development and growth and ultimately give everyone a chance to own part of the pre-farm. Our plans and structure are unique and touch on a lot of different areas of expertise including enterprise software sales, blockchain project governance, and securities laws that we must navigate to have the resources needed to drive the adoption of the Chia blockchain into the world's financial infrastructure.
                </p>
                <p><a class="button outline-green-button" href="#">Business Whitepaper</a></p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/astract/abstract-geometric-pattern-01_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-10-container">
        <div class="download-extras">
            <div class="download-extra-option soft-shadow">
                <h3>Chia Business Whitepaper Discussion - Asia</h3>
                <p>
                    When: Feb 11, 2021 04:00 PM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/9P0vaux2h6o">replay on Youtube</a>.
                </p>
            </div>

            <div class="download-extra-option soft-shadow">
                <h3>Chia Business Whitepaper Discussion - Europe</h3>
                <p>
                    When: Feb 12, 2021 10:00 AM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/2uvlop-hlio">replay on Youtube</a>.
                </p>
            </div>
        </div>
    </div>
</div>


</div>