---
layout: default
---

{% include navigation.html active="buy-xch" %}

{% assign strings = site.data.strings[page.lang] %}


<div class="pg-title">
    <div class="col-10-container">
        <h1>Buy XCH</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
               Chia Network has partnered with Stably and Prime Trust to create an option for you to convert your USD into USDS, the first stablecoin on the Chia blockchain.
            </p>
            <p>
                Now anyone with USDS can use offers with the Chia light wallet to buy XCH. Instead of needing to go through a centralized exchange to obtain XCH, you now have the cheaper, decentralized, option of using a trustless peer-to-peer exchange of USDS for XCH using <a href="/offers">Offers</a>. 
            </p>
            <hr>
            <h3>
                How to Buy XCH
            </h3>
            <p>
                Follow the 4 steps below to buy XCH with your USD fiat currency:
            </p>
    
            <h4>1. Open a <a href="https://www.stably.io/stably-prime/" target="_blank">Stably Prime Trust</a> account</h4>             
                <ul>
                    <li>
                        Sign up for a <a href="https://prime.stably.io/user/signup" target="_blank">Stably account</a>
                    </li>
                    <li>
                        You will need to provide your name, email address, phone number
                    </li>
                </ul>
            
            <h4>2. Fund your Stably account by depositing USD to your Stably Prime account</h4>   
                <ul>
                    <li>
                        Go through Stably’s Know-Your-Customer (KYC) process to complete setting up your account (may take up to a day or two to complete ). After the KYC process has completed, you can initiate a “Deposit” by transferring from a traditional bank through supported wire transfer protocols (e.g., SWIFT, ACH).
                    </li>
                </ul>
            
            <h4>3. Withdraw USDS directly to your Chia light wallet</h4>   
                <ul>
                    <li>
                        <em>Note that the ability to withdraw USDS to your Chia light wallet will begin on January 17, 2022.</em>
                    </li>
                    <ol>
                        <li>
                            <a href="https://www.chia.net/download/#light-wallet-beta" target="_blank">Download</a> and install the Chia light wallet
                        </li>
                        <li>
                            In the light wallet go to <em>+Add Token</em> and select "Stably USD"
                        </li>
                        <li>
                            From your Stably USD account, click on <em>Withdraw</em> → <em>Stablecoins</em> → <em>USDS</em>
                        </li>
                        <li>
                            Add your USDS Chia wallet in Stably and then specify the amount of USDS to complete your withdrawal
                        </li>
                    </ol>
                </ul>
            
            <h4>4. Post or redeem an offer to trade USDS for XCH</h4>   
                <ul>
                    <li>
                        Post an offer or monitor the offers being posted at <a href="https://keybase.io/team/chia_offers" target="_blank">Keybase - chia_offers</a>, <a href="https://hash.green/dex" target="_blank">Hashgreen</a>, or <a href="http://offerbin.io" target="_blank">Offerbin</a>.
                    </li>
                </ul>

                </div>
    </div>
</div>

<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt">
                <h2>Stably and Prime Trust</h2>
                <p>
                    Stably USD (symbol: USDS) is a one-to-one U.S. Dollar backed, redeemable stablecoin. U.S. Dollar collateral is held in FDIC-insured trust accounts managed by Prime Trust. USDS is Stably's inaugural stablecoin.
                </p>
                <p>
                    Stably Prime (by Prime Trust) is a self-directed custodial account offered by Prime Trust through Stably.
                </p>
                <p><a class="button primary-button" href="https://www.stably.io/stably-prime/" target="_blank">Learn More</a></p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-03_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div>


