---
layout: default
---

{% include navigation.html active="careers" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="careers">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-main-title mt-5 mb-5">{{ strings.careers_title }}</h1>
                <div class="px-md-5">{{ strings.careers_description | markdownify }}</div>
                <hr class="page-main-title mt-5 mb-5">
                <h5>Current openings:</h5>
                <table style="width:auto; padding: 10px; margin-left: auto; margin-right: auto;">
                  <tr>
                  {% assign job_descriptions = site.job_descriptions | sort: "order" %}
                  {% for entry in job_descriptions %}
                  <td style="text-align:center">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td>
                  <td style="text-align:center"><a href ="#{{ entry.title }}">{{ entry.title }}</a></td>
                  {% endfor %}
                  <td style="text-align:center">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
                </table>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            {% assign job_descriptions = site.job_descriptions | sort: "order" %}
            {% for entry in job_descriptions %}
            <hr class="page-main-title mt-5 mb-5">
            <div class="job" id="{{ entry.title }}">
              <h3>{{ entry.title }}</h3>
              </div>
              <div class="px-md-5">{{ entry.content | mardownify }}</div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>
