---
layout: default
---

{% include navigation.html active="community" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="community">
    <div class="header-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <h1>{{ strings.community_email_title }}</h1>
                    <p>{{ strings.community_email_description }}</p>
                </div>
                <div class="col-md-5 text-center">
                    <form class="email-form d-inline-block">
                        <input class="d-block m-3" type="email" placeholder="Email" aria-label="Email">
                        <button class="d-block signup-button m-3" type="submit">{{ strings.community_signup }} <img src="/img/hiring_arrow_dark.svg" alt="arrow"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container justify-content-center">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-10 content">
                {{ content }}
                {% if page.extra_details %}
                    <a class="expand-btn" class="row" data-toggle="collapse" href="#extra-details" role="button" aria-expanded="false">
                        {{ strings.community_expand_details }} <img src="/img/community_arrow_down.svg">
                    </a>
                    <div id="extra-details" class="collapse">{{ page.extra_details | markdownify }}</div>
                    <a class="collapse-btn d-none" data-toggle="collapse" href="#extra-details" role="button" aria-expanded="false">
                        {{ strings.community_collapse_details }} <img src="/img/community_arrow_up.svg">
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var expanders = Array.from(document.querySelectorAll('.content'));
    expanders.forEach(function(expander) {
        var expand = expander.querySelector(".expand-btn");
        var collapse = expander.querySelector(".collapse-btn");
        expand.addEventListener("click", function() {
            expand.classList.add('d-none');
            collapse.classList.remove('d-none');
        });
        collapse.addEventListener("click", function() {
            expand.classList.remove('d-none');
            collapse.classList.add('d-none');
        });
    });
</script>