---
layout: default
---

{% include navigation.html active="community" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="community">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 keybase-live-feed">
                <a class="go-to-keybase action-arrow-button float-lg-right d-none d-lg-block" target="_blank" rel="noreferrer noopener" href="{{ site.data.contact.keybase_team_page }}">{{ strings.community_go_to_keybase }} <img src="/img/community_arrow.svg" alt="arrow"></a>
                <h1>{{ strings.community_live_feed_title }}</h1>
                <p>{{ strings.community_live_feed_subtitle }}</p>
                <a class="go-to-keybase action-arrow-button d-block d-lg-none" target="_blank" rel="noreferrer noopener" href="{{ site.data.contact.keybase_team_page }}">{{ strings.community_go_to_keybase }} <img src="/img/community_arrow.svg" alt="arrow"></a>
                <iframe src="https://upload.wikimedia.org/wikipedia/en/7/76/Wildflower_Avalanches_cover_art.png"></iframe>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-10 content">
                {% assign community = site.community | where:"lang",page.lang | sort: "order" %}
                {% for entry in community %}
                    {{ entry.content }}
                    {% if entry.extra_details %}
                        <a class="expand-btn" class="row" data-toggle="collapse" href="#extra-details{{ forloop.index }}" role="button" aria-expanded="false">
                            {{ strings.community_expand_details }} <img src="/img/community_arrow_down.svg">
                        </a>
                        <div id="extra-details{{ forloop.index }}" class="collapse">{{ entry.extra_details | markdownify }}</div>
                        <a class="collapse-btn d-none" data-toggle="collapse" href="#extra-details{{ forloop.index }}" role="button" aria-expanded="false">
                            {{ strings.community_collapse_details }} <img src="/img/community_arrow_up.svg">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="email-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5 email-heading">
                    <h1>{{ strings.community_email_title }}</h1>
                    <p>{{ strings.community_email_description }}</p>
                </div>
                <div class="col-md-5 text-center">
                    <!-- Begin Mailchimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                    <div class="email-form d-inline-block" id="mc_embed_signup">
                        <form action="https://chia.us20.list-manage.com/subscribe/post?u=e4d570ef4efb6250ec4a2d825&amp;id=bbcb58034c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <input class="d-block m-3" type="email" value="" id="mce-EMAIL" name="EMAIL" placeholder="Email" required aria-label="Email">
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e4d570ef4efb6250ec4a2d825_bbcb58034c" tabindex="-1" value=""></div>
                                <button class="d-block signup-button m-3" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                                    {{ strings.community_signup }} <img src="/img/hiring_arrow_dark.svg" alt="arrow">
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- End Mailchimp Signup Form -->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var expanders = Array.from(document.querySelectorAll('.content'));
    expanders.forEach(function(expander) {
        var expand = expander.querySelector(".expand-btn");
        var collapse = expander.querySelector(".collapse-btn");
        if (expand === null) { return; }
        expand.addEventListener("click", function() {
            expand.classList.add('d-none');
            collapse.classList.remove('d-none');
        });
        collapse.addEventListener("click", function() {
            expand.classList.remove('d-none');
            collapse.classList.add('d-none');
        });
    });
</script>