---
layout: default
---

{% include navigation.html active="contact" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-main-title mt-5">{{ strings.contact_title }}</h1>
            </div>
        </div>
        <div class="row details">
            <div class="col-lg-5">
                <div class="details-box">
                    <h2>{{ site.data.contact.name }}</h2>
                    <a class="contact-email" href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
                    <div class="handle">
                        <img src="/img/social/github.svg" alt="GitHub Logo"> <a href="https://github.com/{{ site.data.contact.github_username }}" target="_blank" rel="noreferrer noopener">@{{ site.data.contact.github_username }}</a>
                    </div>
                    <div class="handle">
                        <img src="/img/social/twitter.svg" alt="Twitter Logo"> <a href="https://twitter.com/{{ site.data.contact.twitter_username }}" target="_blank" rel="noreferrer noopener">@{{ site.data.contact.twitter_username }}</a>
                    </div>
                    <div class="handle">
                        <img src="/img/social/facebook.svg" alt="Facebook Logo"> <a href="https://www.facebook.com/{{ site.data.contact.facebook_username }}" target="_blank" rel="noreferrer noopener">@{{ site.data.contact.facebook_username }}</a>
                    </div>
                    <div class="handle">
                        <img src="/img/social/instagram.svg" alt="Instagram Logo"> <a href="https://instagram.com/{{ site.data.contact.instagram_username }}" target="_blank" rel="noreferrer noopener">@{{ site.data.contact.instagram_username }}</a>
                    </div>
                    <div class="handle">
                        <img src="/img/social/medium.svg" alt="Medium Logo"> <a href="https://medium.com/@{{ site.data.contact.medium_username }}" target="_blank" rel="noreferrer noopener">@{{ site.data.contact.medium_username }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mt-3 mt-lg-0">
                <div class="details-box text-lg-center">
                  <h4>Media Inquiries: <a href='mailto: chia@fticonsulting.com'>chia@fticonsulting.com</a></h4>
                  <br>
                    {% include email_box.html %}
                    <a href="{{ site.data.contact.keybase_team_page }}" target="_blank" rel="noreferrer noopener" class="join-keybase btn">{{ strings.contact_join_keybase }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
