---
layout: default
---

{% include navigation.html %}
{% assign strings = site.data.strings[page.lang] %}

<div class="light-bg">
    <div class="white-bg col-8-container content-padding">
        <article class="col-6-container">
            <header class="article-header">
              <h1>{{ page.doc_title }}</h1>
            </header>
            <div class="article-content">
                <div class="container">
                    <iframe class="responsive-iframe" src={{ page.doc_loc}}></iframe>
                </div>
            </div>
        </article>
    </div>
</div>