---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}
{% assign download = site.download | where:"lang",page.lang | reverse %}

{% include navigation.html active="download" %}

<div class="download-page">
    <div class="container dl-sect">
    <div class="row">
        <div class="col-12">
            <h1 class="page-main-title mt-5">{{ strings.navigation.download }}</h1>
<!--            <p>{{ strings.download_main_text }}</p> -->
            <p><em>This page is the only official source for installer downloads. Do not trust downloads from other sources.</em></p>
            <p>Detailed <a href="https://github.com/Chia-Network/chia-blockchain/wiki/INSTALL" target="_blank">Installation instructions</a> and <a href="https://github.com/Chia-Network/chia-blockchain" target="_blank">source code</a> can be found on Github.</p>
            <h6><em>Note: Windows installer does NOT support Windows 7!</em></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/Setup-Win64.exe" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/windows_logo.svg">{{ strings.download_windows_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version {{ site.data.checksums.current_version }}</em> | <em>64 bit</em><br><a href="https://download.chia.net/latest/Setup-Win64.exe.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256"> {{ site.data.checksums.windows_checksum }}</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/Setup-MacOS.dmg" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/apple_logo.svg">{{ strings.download_macosintel_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version {{ site.data.checksums.current_version }}</em> | <em>64 bit</em><br><a href="https://download.chia.net/latest/Setup-MacOS.dmg.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">{{ site.data.checksums.macos_intel_checksum }}</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/Setup-MacOS-arm64.dmg" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/apple_logo.svg">{{ strings.download_macosm1_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version {{ site.data.checksums.current_version }}</em> | <em>64 bit</em><br><a href="https://download.chia.net/latest/Setup-MacOS-arm64.dmg.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">{{ site.data.checksums.macos_arm_checksum }}</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/x86_64-Ubuntu-gui" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/linux_tux_logo.svg">{{ strings.download_debian_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version {{ site.data.checksums.current_version }}</em> | <em>64 bit</em><br><a href="https://download.chia.net/latest/x86_64-Ubuntu-gui.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">{{ site.data.checksums.x86_ubuntu_debian_checksum }}</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/ARM64-Ubuntu-gui" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/linux_tux_logo.svg">{{ strings.download_debianarm_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version {{ site.data.checksums.current_version }}</em> | <em>64 bit</em><br><a href="https://download.chia.net/latest/ARM64-Ubuntu-gui.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">{{ site.data.checksums.arm64_ubuntu_debian_checksum }}</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/x86_64-Redhat-gui" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/linux_tux_logo.svg">{{ strings.download_centosfedora_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version {{ site.data.checksums.current_version }}</em> | <em>64 bit</em><br><a href="https://download.chia.net/latest/x86_64-Redhat-gui.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">{{ site.data.checksums.x86_centos_redhat_checksum }}</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 center">
        </div>
        <div class="col-sm-4 center">
        </div>
        <div class="col-sm-4">
            <p><a href="/download/verify_checksum">How to Verify Checksum</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Other Platforms</h2>
            <p>Python 3.7 or newer is required.</p>
            <ul>
                <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/Raspberry-Pi" target="_blank">Raspberry Pi 4</a></li>
                <li><a href="https://github.com/orgs/Chia-Network/packages/container/package/chia" target="_blank">Docker</a></li>
                <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/FreeBSD-Install" target="_blank">FreeBSD</a></li>
                <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/Ubuntu-Binary-Install" target="_blank">Ubuntu Binary</a></li>
                <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/OpenBSD-Install" target="_blank">OpenBSD</a></li>
            </ul>
        </div>
    </div>
    <hr  />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a name="release-notes"></a><h1 class="page-main-title mt-5">{{ strings.download_title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="releases-box">
                <div class="text-center">{{ strings.download_loading_message }}</div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
fetch("https://api.github.com/repos/Chia-Network/chia-blockchain/releases").then(function(response) { return response.json(); }).then(function(jsonResult) {
    document.getElementById("releases-box").innerHTML = jsonResult.map(function(release) {
        var title = "Chia Blockchain " + release.name;
        var date = new Date(release.published_at).toLocaleDateString('en-US', {year: "numeric", month: "long", day: "numeric"});
        return (
            '<div class="release">' +
                '<a href="' + release.html_url + '" target="_blank" rel="noreferrer noopener">' + title + '</a>' +
                '<div class="order-md-first float-md-right">' + date + '</div>' +
            '</div>'
        )
    }).join('\n');
});
</script>
