---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}
{% assign download = site.download | where:"lang",page.lang | reverse %}

{% include navigation.html active="download" %}

<div class="download-page">
    <div class="container dl-sect">
    <div class="row">
        <div class="col-12">
            <h1 class="page-main-title mt-5">{{ strings.navigation.download }}</h1>
<!--            <p>{{ strings.download_main_text }}</p> -->
            <p><em>This page is the only official source for installer downloads. Do not trust downloads from other sources.</em></p>
            <p>Detailed <a href="https://github.com/Chia-Network/chia-blockchain/wiki/INSTALL" target="_blank">Installation instructions</a> and <a href="https://github.com/Chia-Network/chia-blockchain" target="_blank">source code</a> can be found on Github.</p>
            <h6><em>Note: Windows 7 will not work and is not supported</em></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/Setup-Win64.exe" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/windows_logo.svg">{{ strings.download_windows_button }}</a>

        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version 1.2.0</em> | <em>64 bit</em><br><a href="https://download.chia.net/install/ChiaSetup-1.2.0.exe.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">2fd014be025329b7d6f9a4aedb700a10543f16a40f849b26ae41abb4ff08b039</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/Setup-MacOS.dmg" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/apple_logo.svg">{{ strings.download_macosintel_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version 1.2.0</em> | <em>64 bit</em><br><a href="https://download.chia.net/install/Chia-1.2.0.dmg.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">b28be10ebda84b7ce5d8a2d0630ab02800d11ec862aff1bc91850f01e92d12bc</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/Setup-MacOS-arm64.dmg" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/apple_logo.svg">{{ strings.download_macosm1_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version 1.2.0</em> | <em>64 bit</em><br><a href="https://download.chia.net/install/Chia-1.2.0-arm64.dmg.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">a37f33467d2b85b973a80fbe4291be2182b81d7506f391b13f45e3b63d2515ce</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/x86_64-Ubuntu-gui" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/linux_tux_logo.svg">{{ strings.download_debian_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version 1.2.0</em> | <em>64 bit</em><br><a href="https://download.chia.net/install/chia-blockchain_1.2.0_amd64.deb.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">bfaff09bd7806f866f758e898c743ede230b8febd1a9c1ebc3c53947cc9e095f</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/ARM64-Ubuntu-gui" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/linux_tux_logo.svg">{{ strings.download_debianarm_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version 1.2.0</em> | <em>64 bit</em><br><a href="https://download.chia.net/install/chia-blockchain_1.2.0_arm64.deb.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">43fd659e336c0ae468e1dcf2ff0e0c8d1202bc28fc6322469f0c8519d759b152</span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <a href="https://download.chia.net/latest/x86_64-Redhat-gui" target="_blank" rel="noreferrer noopener" class="btn btn-lg d-block mt-2 mb-2"><img src="/assets/icons/linux_tux_logo.svg">{{ strings.download_centosfedora_button }}</a>
        </div>
        <div class="col-sm-4 center">
            <div>
                <em>Version 1.2.0</em> | <em>64 bit</em><br><a href="https://download.chia.net/install/chia-blockchain-1.2.0-1.x86_64.rpm.torrent">Torrent Download</a>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="sha256-title">SHA256 checksum:
                <span class="sha256">2abec7e62e11ab5bb24a6e6e7a1d2150b5ee16af22bb105479a81a9972c9377e</span>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 center">
        </div>
        <div class="col-sm-4 center">
        </div>
        <div class="col-sm-4">
            <p><a href="/download/verify_checksum">How to Verify Checksum</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Other Platforms</h2>
            <p>Python 3.7 or newer is required.</p>
            <ul>
                <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/Raspberry-Pi" target="_blank">Raspberry Pi 4</a></li>
                <li><a href="https://github.com/orgs/Chia-Network/packages/container/package/chia" target="_blank">Docker</a></li>
                <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/FreeBSD-Install" target="_blank">FreeBSD</a></li>
                <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/Ubuntu-Binary-Install" target="_blank">Ubuntu Binary</a></li>
                <li><a href="https://github.com/Chia-Network/chia-blockchain/wiki/OpenBSD-Install" target="_blank">OpenBSD</a></li>
            </ul>
        </div>
    </div>
    <hr  />
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a name="release-notes"></a><h1 class="page-main-title mt-5">{{ strings.download_title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="releases-box">
                <div class="text-center">{{ strings.download_loading_message }}</div>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
fetch("https://api.github.com/repos/Chia-Network/chia-blockchain/releases").then(function(response) { return response.json(); }).then(function(jsonResult) {
    document.getElementById("releases-box").innerHTML = jsonResult.map(function(release) {
        var title = "Chia Blockchain " + release.name;
        var date = new Date(release.published_at).toLocaleDateString('en-US', {year: "numeric", month: "long", day: "numeric"});
        return (
            '<div class="release">' +
                '<a href="' + release.html_url + '" target="_blank" rel="noreferrer noopener">' + title + '</a>' +
                '<div class="order-md-first float-md-right">' + date + '</div>' +
            '</div>'
        )
    }).join('\n');
});
</script>
