---
layout: default
---

{% include navigation.html active="errata" %}
{% assign strings = site.data.strings[page.lang] %}

<main class="errata">
    <div class="container">
        <div class="paper">
            <h2 class="text-center">{{ strings.errata_page.heading }}</h2>
            <div class="text-left">{{ strings.errata_page.errata | markdownify }}</div>
        </div>
    </div>
    <div class="stay-updated-section">
        {% assign stay_updated_section = strings.developer_page.stay_updated_section %}
        <div class="container text-center">
            <h2>{{ stay_updated_section.heading }}</h2>
            {{ stay_updated_section.keybase_line | markdownify }}
            {{ stay_updated_section.newsletter_line  | markdownify }}
        </div>
    </div>
</main>
