---
layout: default
---

{% include navigation.html active="faq" %}

{% assign strings = site.data.strings[page.lang] %}
{% assign faq = site.faq | where:"lang",page.lang | sort:"order" %}

<div class="container faq">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="page-main-title mt-5">{{ strings.faq_title }}</h1>
            {% for entry in faq %}
                <div class="faq-entry" id="faq-{{ entry.order }}">
                    <h2>{{ entry.title }}</h2>
                    {{ entry.content | markdownify }}
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-6 order-first order-lg-last">
            <div class="faq-summary-box mt-3 m-lg-5">
                <h2>Overview</h2>
                {% for entry in faq %}
                <a href="#faq-{{ entry.order }}">{{ entry.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
