---
layout: default
---

{% include navigation.html active="grants" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="grants">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-main-title mt-5 mb-5">{{ strings.grants_title }}</h1>
                <div class="px-md-5">{{ strings.grants_description | markdownify }}</div>
                <br/>
                <div class="px-md-5">{{ strings.grants_why | markdownify }}</div>
                <br/>
                <div class="px-md-5">{{ strings.grants_who | markdownify }}</div>
                <br/>
                <div class="px-md-5">{{ strings.grants_when | markdownify }}</div>
                <br/>
                <div class="px-md-5"><em>{{ strings.grants_disclaimer | markdownify }}</em></div>
                <br/>
                <hr class="page-main-title mt-5 mb-5">
                <h1 class="page-main-title mt-5 mb-5">{{ strings.grants_faq_title }}</h1>
            </div>
        </div>
    </div>
</div>
