---
layout: default
---

{% include navigation.html active="greenpaper" %}
{% assign strings = site.data.strings[page.lang] %}

<div class="light-bg">
    <div class="white-bg col-8-container content-padding">
        <article class="col-6-container">
            <header class="article-header">
              <h1>{{ strings.green_paper_main_title }}</h1>
            </header>
            <div class="article-content">
                <p>
                    <a href="/assets/ChiaGreenPaper.pdf" target="_blank" rel="noreferrer noopener" class="button primary-button" download>
                        {{ strings.green_paper_download }}
                    </a>
                </p>
                
                {{ strings.green_paper_description | markdownify }}
                
                <hr class="my-5">
                
                <h2 class="mb-3">{{ strings.green_paper_addendum_title }}</h2>
                {{ strings.green_paper_addendum | markdownify }}
            </div>
        </article>
    </div>
</div>