---
layout: default
---

{% include navigation.html active="green_paper" %}
{% assign strings = site.data.strings[page.lang] %}

<div class="green-paper">
    <div class="container">
        <h1>Chia's Green Paper</h1>
        <h3 class="github-line text-center">
            <a href="/assets/ChiaGreenPaper.pdf" target="_blank" rel="noreferrer noopener" class="btn btn-lg">Download Green Paper</a>
        </h3>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam elementum orci eu nisi gravida, sit amet rutrum metus cursus. Praesent sed leo sit amet eros rutrum laoreet eu luctus sem. Sed sit amet laoreet sem. Praesent in dignissim nisi. Aliquam neque ipsum, euismod vitae arcu id, mattis venenatis diam. Cras mollis sagittis lorem eget ultricies. Sed semper ultrices ipsum vel molestie.</div>
        <br>
        <div>Tempor orci eu lobortis elementum.</div>
    </div>
    <img src="/assets/book.svg" alt="green_paper_book">
</div>
