---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}

{% include navigation.html %}

<div class="superhero col-12-container">
    <div class="superhero-bg-container">
        <div class="superhero-layout-container">
            <div class="chia-slides">
                <div class="superhero-content">
                        <h1>Chia Offers, the milestone in the DeFi ecosystem</h1>
                        <p>Chia is delivering critical security and compliance needed to enable safer and easier peer-to-peer transactions. With Offers, two people can propose and complete a trade wherein neither side can cheat or need an escrow. From empowering new users, to seamlessly enter the Chia DeFi ecosystem, to granting farmers and investors more agency, the benefits of stablecoins and DEXs on Chia’s blockchain are setting the standard for how crypto should work.</p>
                        <p class="chia-cta"><a href="/buy-xch" class="button outline-white-button">Buy XCH</a></p>
                </div>
                <div class="superhero-content">
                        <h1>Costa Rica to partner with Chia on Climate Metrics</h1>
                        <p>“The Government of Costa Rica selected Chia as an open-source partner due to both its technical software and open-source expertise, but also the platform’s commitment to secure, sustainable, inclusive blockchain technology and immutable data storage,” - Andrea Meza Murillo, Minister of Environment and Energy of Costa Rica</p>
                        <p class="chia-cta"><a href="https://www.businesswire.com/news/home/20211111005809/en/Costa-Rica-and-Chia-Announce-Partnership-to-Support-Climate-and-Government-Initiatives" target="_blank" class="button outline-white-button">Learn More</a></p>
                </div>
                <div class="superhero-content">
                    <h1>The rails for the internet of markets</h1>
                    <p>Founded by Bram Cohen, the inventor of BitTorrent, Chia is a next-generation, open source blockchain that has been built from the ground up to meet the needs of the future of interconnected markets. Building on the benefits of existing technologies that are secure and public, we extended them and added sustainability, compliance and programmability while enhancing security.</p>
                    <p class="chia-cta"><a href="/approach" class="button outline-white-button">Learn More</a></p>
                </div>
<!-- 
                <div class="superhero-content">
                    <h1>Sustainable and secure Circular Drive Initiative</h1>
                    <p>As a founding member of the Circular Drive Initiative, we join William McDonough and the industry in declaring a commitment to reduce e-waste by supporting the secure reuse of storage hardware. Chia netspace represents over 40 exabytes with over 350,000 nodes. We support the opportunity to securely reduce e-waste by giving drives a second use in Chia farming.</p>
                    <p class="chia-cta"><a href="https://circulardrives.org/" target="_blank" class="button outline-white-button">Join Us</a></p>
                </div>               
                <div class="superhero-content">
                    <h1>Shape the change</h1>
                    <p>Join the network of developers changing the future of markets and finance. Chialisp is our Turing complete on-chain smart transaction programming language and development environment. It is a powerful, easy to audit, and secure language that unlocks the security and transparency benefits of the Chia Network. We also have a Cultivation Grant Program to support high-potential projects and teams.</p>
                    <p class="chia-cta"><a href="/developers/" class="button outline-white-button">Learn More</a></p>
                </div>
-->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.chia-slides').slick({
        arrows: false,
        autoplay: true,
        autoplaySpeed: 8000,
        cssEase: 'linear',
        dots: true,
        fade: true,
        infinite: true,
        pauseOnHover: false,
        speed: 500,
    });
</script>

<div class="white-bg content-padding chia-value-props">
    <div class="col-10-container">
        <div class="value-props-grid">
            <div class="value-prop">
                <h2>Authentically secure, sustainable and compliant.</h2>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/shield-lock.svg" class="value-prop-icon" alt="Shield Icon">
                <h3>Secure</h3>
                <p>Chia is the most decentralized blockchain ever with approximately 350,000 nodes employing the first new Nakamoto Consensus since 2009. The Chialisp on chain programming environment is fully featured while being far more auditable, and secure.</p>
                <p class="chia-cta"><a href="https://chialisp.com">Learn More <img src="/img/ui-icons/arrow-right.svg" class="chia-icon ui-icon"></a></p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/check-badge.svg" class="value-prop-icon" alt="Check Badge Icon">
                <h3>Compliant</h3>
                <p>Chia believes that in order to deliver on the promise of the next generation blockchains, we must be regulatory compliant. It is our stated goal to become a public reporting company subject to the <a href ="https://en.wikipedia.org/wiki/Securities_Act_of_1933">Securities Act of 1933</a>. Chia's native currency, <a href="https://www.coingecko.com/en/coins/chia">XCH or chia</a>, has never been sold by Chia Network for money and we believe it will be regulated as a commodity by the <a href = "https://www.cftc.gov/">CFTC</a>.</p>
                <p class="chia-cta"><a  href="/contact/">Learn More <img src="/img/ui-icons/arrow-right.svg" class="chia-icon ui-icon"></a></p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/recycle.svg" class="value-prop-icon" alt="Recycle Icon">
                <h3>Sustainable</h3>
                <p>With its innovative Proof Of Space and Time consensus, Chia uses 0.16% of the <a href="https://chiapower.org">annual energy consumption</a> of Bitcoin, and 0.36% of Ethereum. Chia is part of the <a href="https://circulardrives.org/">Circular Drive Initiative</a> that reduces e-waste through the secure reuse of storage, promoting the second use of hard drives for Chia farming.</p>
                <p class="chia-cta"><a href="/2021/10/20/mining-vs-farming.en.html">Read More <img src="/img/ui-icons/arrow-right.svg" class="chia-icon ui-icon"></a></p>
            </div>
        </div>
    </div>
</div>
