---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}

<div class="homepage">
    <!-- TODO: we only have two of the four videos, need the other two for ACCESSIBLE and ABOUT sections --> 
    <div class="header-container">
        <img class="background-dots" src="/img/homepage_green_dots.svg" alt=".">
        {% include navigation.html type="dark" %}
        <div class="header">
            <h1>{{ strings.homepage_title }}</h1>
            <p>{{ strings.homepage_subtitle }}</p>
        </div>
    </div>
    <div class="details-container">
        <div class="container pl-5 pr-5">
            <div class="row pt-5 align-items-center">
                <div class="col-md-6 description">
                    <div class="description-header">01 <span class="separator-line"></span> {{ strings.homepage_section_1_heading }}</div>
                    <h2>{{ strings.homepage_section_1_title }}</h2>
                    {{ strings.homepage_section_1_description | markdownify }}
                </div>
                <div class="col-md-6 pt-5">
                    {% include video.html path="/assets/Chia_DigitalMoney.webm" mimetype="video/webm" fallback_path="/assets/Chia_DigitalMoney.mp4" fallback_mimetype="video/mp4" thumbnail="/assets/Chia_DigitalMoney.jpg" %}
                </div>
            </div>
            <div class="row pt-5 align-items-center">
                <div class="col-md-6 description">
                    <div class="description-header">02 <span class="separator-line"></span> {{ strings.homepage_section_2_heading }}</div>
                    <h2>{{ strings.homepage_section_2_title }}</h2>
                    {{ strings.homepage_section_2_description | markdownify }}
                </div>
                <div class="col-md-6 pt-5 order-md-first">
                    {% include video.html path="/assets/Chia_Launch.webm" mimetype="video/webm" fallback_path="/assets/Chia_Launch.mp4" fallback_mimetype="video/mp4" thumbnail="/assets/Chia_Launch.jpg" %}
                </div>
            </div>
            <div class="row pt-5 align-items-center">
                <div class="col-md-6 description">
                    <div class="description-header">03 <span class="separator-line"></span> {{ strings.homepage_section_3_heading }}</div>
                    <h2>{{ strings.homepage_section_3_title }}</h2>
                    {{ strings.homepage_section_3_description | markdownify }}
                </div>
                <div class="col-md-6 pt-5">
                    {% include video.html path="/assets/Chia_Launch.webm" mimetype="video/webm" fallback_path="/assets/Chia_Launch.mp4" fallback_mimetype="video/mp4" thumbnail="/assets/Chia_Launch.jpg" %}
                </div>
            </div>
        </div>

        <div class="container blog p-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-5">{{ strings.homepage_blog_title }}</h2>
                </div>
            </div>

            <div class="row">
                {% assign posts = site.posts | where:"lang",page.lang | reversed %} 
                {% for entry in posts limit:3 %}
                    <a href="{{ entry.url }}" class="col-md-4 post d-block p-3">
                        <p>{{ entry.date | date:"%B %-d, %Y" }}</p>
                        <h3>{{ entry.title }}</h3>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="community-container">
        <div class="container pl-5 pr-5 pt-5">
            <div class="row">
                <div class="col-12">
                    <h2>{{ strings.homepage_community_title }}</h2>
                </div>
            </div>
            <div class="row">
                {% assign community_posts = site.community | where:"lang",page.lang | sort:"order" %} 
                {% for entry in community_posts %}
                    <div class="col-md-6 community-post">
                        <h3>{{ entry.title }}</h3>
                        <p>{{ entry.preview | markdownify }}</p>
                        <a href="{{ entry.url }}">Learn More</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="about-container">
        <div class="container pl-5 pr-5 pb-5">
            <div class="row">
                <div class="col-md-6 order-md-last">
                    <h2 class="mt-5 mb-5">{{ strings.homepage_about_title }}</h2>
                    {{ strings.homepage_about_description | markdownify }}
                </div>
                <div class="col-md-6 pt-5">
                    <div class="about-video">
                        {% include video.html path="/assets/Chia_Launch.webm" mimetype="video/webm" fallback_path="/assets/Chia_Launch.mp4" fallback_mimetype="video/mp4" thumbnail="/assets/Chia_Launch.jpg" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="investor-container">
        <div class="container pb-5">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="mt-5 mb-3">{{ strings.homepage_investors }}</h3>
                </div>
            </div>
            <div class="row">
                {% assign investor_pics = site.investor_pics | sort: "order" %}
                {% for entry in investor_pics %}
                    <a class="col-md-4 investor-pic justify-content-center" href="{{ entry.web_url }}">
                        <img src="{{ entry.pic_url | escape }}" class="align-self-center">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="hiring-container">
        <div class="hiring">
            <h2>{{ strings.homepage_hiring_title }}</h2>
            {{ strings.homepage_hiring_description | markdownify }}
            <a class="hiring-button d-inline-block mt-5" href="mailto:hello@chia.net">{{ strings.homepage_hiring_apply }} <img src="/img/hiring_arrow_dark.svg" alt="arrow"></a>
        </div>
    </div>
</div>