---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}

{% include navigation.html %}

<div class="white-bg content-padding chia-value-props">
    <div class="col-10-container">
        <div class="value-props-grid">
            <div class="value-prop">
                <h2>Authentically secure, sustainable and compliant.</h2>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/shield-lock.svg" class="value-prop-icon" alt="Shield Icon">
                <h3>Secure</h3>
                <p>Chia is the most decentralized blockchain with about 350,000 nodes. It has the highest replication with all transactions and data being securely stored and tracked on every node. The ChiaLisp programming language meets all the features of other languages while being far more auditable, and scalable.</p>
                <p class="chia-cta"><a href="#">Call to Action Link <img src="/img/ui-icons/arrow-right.svg" class="chia-icon ui-icon"></a></p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/check-badge.svg" class="value-prop-icon" alt="Check Badge Icon">
                <h3>Compliant</h3>
                <p>Chai believes that in order to deliver on the promise of the next generation blockchains, they must adhere to regulatory compliance rules. It is our stated goal to be a public reporting company. We intend to be in compliance with Securities Act of 33, Sarbanes Oxley and other relevant existing practices.</p>
                <p class="chia-cta"><a  href="#">Call to Action Link <img src="/img/ui-icons/arrow-right.svg" class="chia-icon ui-icon"></a></p>
            </div>
            <div class="value-prop soft-shadow">
                <img src="/img/ui-icons/recycle.svg" class="value-prop-icon" alt="Recycle Icon">
                <h3>Sustainable</h3>
                <p>With its innovative Proof Of Space and Time Chia uses less than 1% of the energy usage of Bitcoin. We are committed to the circular economy and are a part of the Circular Drive Initiative that encourages extension of drive lifespan and recycling.</p>
                <p class="chia-cta"><a href="#">Call to Action Link <img src="/img/ui-icons/arrow-right.svg" class="chia-icon ui-icon"></a></p>
            </div>
        </div>
    </div>
</div>