---
layout: default
---

{% include navigation.html %}

{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>Intellectual Property</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
               Chia’s innovation is embodied in its Intellectual Property. Explore Chia’s Trademarks, Copyrights, Patents, and Chia’s participation in open-source innovation.    
            </p>
            <hr  />
            <h2>Our Trademarks</h2>
            <p>A trademark can be a word, phrase, symbol, or design that distinguishes the source of the goods or services. Chia’s trademarks and brand assets represent the trust and goodwill the global community places in Chia’s technology and services.</p>
            <p>The following is a non-exhaustive list of Chia’s trademarks and service marks (as updated from time to time).</p>
            <div class="ip-assets soft-shadow">
                <div class="ip-assets-item">
                    <img src="/assets/ip/chia-logo.png" alt="Chia logo">
                </div>
                <div class="ip-assets-item">
                   <img src="/assets/ip/chia-icon.png" alt="Chia leaf icon">
                </div>
                <div class="ip-assets-item">
                    <img src="/assets/ip/chialisp-logo.png" alt="Chialisp logo">
                </div>
                <div class="ip-assets-item">
                    <img src="/assets/ip/chialisp-icon.png" alt="Chialisp icon">
                </div>
                <div class="ip-assets-item">
                    <img src="/assets/ip/chia-virtual-private-blockchain.png" alt="Chia Virtual Private Blockchain logo" title="Chia Virtual Private Blockchain">
                </div>
                <div class="ip-assets-item">
                    <img src="/assets/ip/chia-virtual-private-blockchain.png" alt="Chia Virtual Private Blockchain logo" title="Chia Virtual Private Blockchain">
                </div>
                <div class="ip-assets-item">
                    CHIA
                </div>
                <div class="ip-assets-item">
                    CHIALISP
                </div>
                <div class="ip-assets-item">
                    VIRTUAL PRIVATE BLOCKCHAIN
                </div>
                <div class="ip-assets-item">
                    CHIA VIRTUAL PRIVATE BLOCKCHAIN
                </div>
                <div class="ip-assets-item">
                    CHIA DATA LAYER 
                </div>
                <div class="ip-assets-item">
                    CAT
                </div>
                <div class="ip-assets-item">
                    INTERNET OF MARKETS
                </div>
            </div>
<!--
                <table>
                    <tr>
                        <th>CHIA</th>
                        <th>CHIA</th>
                        <th>CHIA</th>
                    </tr>
                    <tr>
                        <th>CHIA</th>
                        <th>CHIA</th>
                        <th>CHIA</th>
                    </tr>
                    <tr>
                        <th>CHIA</th>
                        <th>CHIA</th>
                        <th>CHIA</th>
                    </tr>
                </table>
-->
            <p>When you are authorized to use the Chia® brand and respect the Chia® brand guidelines, you help us ensure the strength of the brand, while protecting the entire community from being misled, confused, or mistreated.</p>
            <p>Please read over the following <a href="/trademarks">Trademark policy</a> carefully, and never hesitate to reach out with questions or permission requests at <a href="mailto:chiaip@chia.net" target="_blank">chiaip@chia.net</a>.</p>
            <hr  />
            <h2>Our Copyrighted Materials</h2>
            <p>Copyright protects original works of authorship fixed in a tangible medium of expression. Chia is a prolific creator of copyrighted materials, including software and text. Under some circumstances, Chia may grant permission to use a portion of Chia’s copyright library.</p>
            
            <h3>1. White Papers, Implementation Guides, and Technology Overviews</h3>
            
            <p>Chia routinely authors white papers, implementation guides, and technology documentation and overviews. Chia does not generally license these materials for reproduction or distribution for commercial purposes or permit local hosting of these materials on third-party webpages.</p>
            <p>Chia does, however, permit “deep linking" to webpages on www.chia.net and other Chia websites, without additional permission from Chia. See Chia’s Guidelines for usage of Chia Network’s Trademarks and Copyrighted Materials on the Web for more information.</p>
            <h4>Exceptions:</h4>
            <p><em>Bona fide educational programs.</em></p>
            <p>Chia expressly authorizes duplication and distribution of Chia’s white papers, green paper, implementation guides, and technology documentation and overviews to students in bona fide educational programs, subject to the following limitations:</p>
            <ul>
                <li>Instructors may reproduce only sufficient copies to meet the anticipated needs for the current course or term.</li>
                <li>Reproductions of Chia materials must retain all original copyright notices.</li>
                <li>Except for actual duplication costs, students must not be charged for such materials.</li>
                <li>Chia materials must not be bound into any compilation or collective work.</li>
            </ul>
            <h4>End-user purchasers and installers.</h4>
            <p>Chia authorizes reproduction and modification of any Chia product documentation accompanying such products by End-users, or for distribution within their organization in order to use the products. </p>
            
            <h3>2. chia.net Screen Captures</h3>
            <p>Chia allows third parties to use screen captures from publicly accessible chia.net website or other publicly accessible Chia webpages without the need for a written license from Chia, as long as:</p>
            <ul>
                <li>Each use is accompanied by (a) the credit line and notice: "Courtesy of Chia Network, Inc. Unauthorized use not permitted" (b) the specific Chia URL where the screen was captured, and (c) the date of capture, placed in a way that is visible to the viewer.</li>
                <li>The screen capture is not changed or manipulated in any way (except for resizing and cropping).</li>
                <li>The use does not disparage Chia or imply endorsement by Chia.</li>
                <li>No trademark of Chia Network, Inc., is used (apart from the incidental appearance of such trademarks in the screen capture from chia.net).</li>
                <li>The screen capture must not contain the name or logo of any third party, or any other content identified as owned, managed or copyrighted by any third party. View a list of the <a href="/trademarks">Chia Trademarks here</a>.</li>
                <li>No more than four (4) screen captures may be used in any single document, page or other work by any single person or company.</li>
                <li>You agree to stop using and displaying the screen capture at any time, upon Chia’s written request.</li>
            </ul>
            
            <h3>3. Use of Name or Likeness of Chia Executives and Employees</h3>
            <p>The names and likenesses (photographs, drawings, etc.) of Chia executives and employees are protected by publicity and privacy rights and may not be used without prior written permission. Please contact <a href="mailto:chia@fticonsulting.com" target="_blank">chia@fticonsulting.com</a> for more information.</p>
            <p>In addition to the terms described above, all uses of Chia copyrighted materials are subject to <a href="http://127.0.0.1:4000/assets/legal/Chia-Copyright-Policy.pdf">Chia Copyright Policy.</a></p>
            <hr  />
            <h2>Our Patents</h2>
            <p>Chia’s dedication to innovation is reflected in the quality of its inventions. Chia expanding patent portfolio aligns with its focus on sustainability, security, and inclusivity. In addition to making our inventions available as building blocks under the <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blankd">Apache 2.0 open-source license</a>, Chia is also a proud member of the <a href="https://www.opencrypto.org/members/" target="_blank">Crypto Open Patent Alliance.</a></p>
        </div>
    </div>
</div>