---
layout: default
---

{% include navigation.html type="light" active="invest" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="container-fluid invest">
    <div class="row header-container">
        <h1>{{ strings.invest_title }}</h1>
        {{ strings.invest_description | markdownify }}
    </div>
    
    <div class="faq-container">
        <h1 class="row">{{ strings.invest_faq_title }}</h1>
        <a class="expand-btn" class="row" data-toggle="collapse" href="#collapsable-faq" role="button" aria-expanded="false">
                Expand to see full details
                <img src="/img/invest_arrow_down.svg">
        </a>
        <div id="collapsable-faq" class="collapse">
            {% assign investor_faq = site.investor_faq | where:"lang",page.lang | sort: "order" %}
            {% for entry in investor_faq %}
                <div class="faq-item">{{ entry.content }}</div>
            {% endfor %}
        </div>
        <a class="collapse-btn d-none" data-toggle="collapse" href="#collapsable-faq" role="button" aria-expanded="false">
            Collapse full details
            <img src="/img/invest_arrow_up.svg">
        </a>
    </div>

    <div class="pt-5 pb-5 investors-container">
        <h1 class="row mb-5">{{ strings.invest_investors_title }}</h1>
        <div class="row investor-pics">
            {% assign investor_pics = site.investor_pics | sort: "order" %}
            {% for entry in investor_pics %}
                <a class="col-md-4 investor-pic" href="{{ entry.web_url }}">
                    <img src="{{ entry.pic_url | escape }}" class="align-self-center">
                </a>
            {% endfor %}
        </div>
    </div>

</div>

<script type="text/javascript">
    var expand = document.querySelector(".expand-btn");
    var collapse = document.querySelector(".collapse-btn");
    expand.addEventListener("click", function() {
        expand.classList.add('d-none');
        collapse.classList.remove('d-none');
    });
    collapse.addEventListener("click", function() {
        expand.classList.remove('d-none');
        collapse.classList.add('d-none');
    });
</script>