---
layout: default
---

{% include navigation.html active="news" %}

{% assign strings = site.data.strings[page.lang] %}
{% assign page_size = 6 %}

<div class="container news">
  <br>
  <center>Media Inquiries: <a href='mailto: chia@fticonsulting.com'>chia@fticonsulting.com</a></center>
    <div class="jumbotron bg-white d-none d-md-block">
        {% assign jumbo_news = site.news | where:"jumbotron","true" %}
        {% for entry in jumbo_news %}
            <div class="row">
                <div class="col-lg-6">
                    <img src="{{ entry.thumbnail }}">
                </div>
                <div class="col-lg-6 px-lg-5 pt-5 pt-lg-0">
                    <a class="d-block" href="{{ entry.weblink }}" title="{{ entry.title }}" target="_blank" rel="noreferrer noopener">
                        <div class="date">{{ entry.date | date:"%B %-d, %Y" }}</div>
                        <div class="headline">{{ entry.title | truncate: 60 }}</div>
                        <div class="tagline">{{ entry.content }}</div>
                        <div class="source">{{ entry.source | upcase }}</div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="page-main-title mt-5">{{ strings.news_title }}</h1>
        </div>
    </div>
    <div class="row">
        {% assign news = site.news | where:"jumbotron","false" | reverse %}
        {% for entry in news %}
            <a class="article col-md-6 col-lg-4{% if forloop.index > page_size %} d-none{% endif %}" href="{{ entry.weblink }}" title="{{ entry.title }}" target="_blank" rel="noreferrer noopener">
                <img class="w-100" src="{{ entry.thumbnail }}">
                <div class="date">{{ entry.date | date:"%B %-d, %Y" }}</div>
                <div class="headline">{{ entry.title | truncate: 60 }}</div>
                <div class="source">{{ entry.source | upcase }}</div>
            </a>
        {% endfor %}
    </div>
    {% if news.size > page_size %}
        <div class="text-center">
            <a id="see-more-button" class="mb-5">{{ strings.news_see_more }}</a>
        </div>
    {% endif %}
</div>

<script type="text/javascript">
var seeMore = document.getElementById('see-more-button');
if (seeMore) {
    seeMore.addEventListener('click', function() {
        Array.from(document.querySelectorAll('.article')).forEach(function(article) {
            article.classList.remove('d-none');
        });
        seeMore.classList.add('d-none');
    });
}
</script>
