---
layout: default
---
{% include navigation.html active="offers" %}

{% assign strings = site.data.strings[page.lang] %}


<div class="pg-title">
    <div class="col-10-container">
        <h1>Offers</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
               Chia Network has launched a new capability called Offers, a native peer-to-peer exchange capability. No counterparty risk. No middleman custodian. No additional fees.
            </p>
            <p>
                Offers allow “Makers” and “Takers” – buyers and sellers – to seamlessly create and accept trade offers all from the privacy of their Chia wallet. Offers allow two people who have never met to propose and complete a trade in a way that neither side can cheat and does not need escrow. This also empowers users to self-custody while making trades, meaning buyers and sellers retain control of their private keys and coins without counterparty risk, middleman custodians, and trading fees. By contrast, centralized exchanges require users to transfer digital assets to an exchange account, creating a potential security risk. 
            </p>
            <hr>
            <h3>
                Who is Offers for?
            </h3>
            <p>
                Chia crypto holders: Anyone holding XCH, such as from farming, can trade this XCH peer to peer for other CATs on Chia. This can include converting their XCH to USDS as a means of remaining in crypto but reducing their exposure to XCH. Conversely, holders of USDS can easily acquire XCH through offer files. 
            </p>
            <p>    
                Enterprise carbon credit buyers: Enterprises who wish to participate in a carbon credit auction in which they acquire a CAT may use offers to 1) buy USDS from Prime Trust 2) Trade USDS for carbon credit CATs.  
            </p>
            <h3>
                How do Offers further Chia’s value proposition?
            </h3>
            <p>
                <em>Secure:</em> Offers enable users to self-custody while making trades. Self-custody means users retain control of their private keys and coins. By contrast, centralized exchanges require users to transfer their crypto to an exchange account, where they risk the security of their assets to a third party. Offer files themselves are not an attack surface and contain no way to deduce private keys of the Maker.
            </p>
            <p>
                <em>Sustainable:</em> This will promote more ways to use and trade CAT tokens and create new use cases to further adoption of Chia and help grow the Chia ecosystem.
            </p>
            <p> 
                <em>Compliant:</em> Requires no regulated market exchange to operate as all offers are inherently peer to peer.
            </p>
            <h3>
                How do I get access to Offers?
            </h3>
            <p>
                Offers is currently available through Chia’s Light Wallet Beta available: <a href="https://www.chia.net/download/#light-wallet-beta">Download</a>
            </p>
            <p>
                There are 3 ways to interact with Offers:
                <ul>
                    <li>Consumers - through the Graphical User Interface (GUI)</li>
                    <li> Pro users - Command-line interface (CLI) for scripting</li>
                    <li> Developers - Take the wallet code and build offers into their apps like OTC desks, DEXs, and more.</li>
                </ul>
            </p>
            <h3>
                How do I learn more about Offers?
            </h3>
            <p>
                Please see our detailed documentation and tutorial here: <a href="https://chialisp.com/docs/puzzles/offers/" target="_blank">Offers | Chialisp</a>
            </p>

        </div>
    </div>
</div>


