---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}

{% include navigation.html active="blog" %}

<div class="blog-post">
  <article class="container" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="title">
          <h1>{{ page.title }}</h1>
          <span class="author">{{ page.author | markdownify }}</span> &mdash; <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
        </div>

        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </article>
</div>
