---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}

{% include navigation.html active="blog" %}

<div class="light-bg">
  <div class="white-bg col-8-container content-padding">
      <article class="col-6-container" itemscope itemtype="http://schema.org/BlogPosting">
          <header class="article-header">
              <h1>{{ page.title }}</h1>
              <span class="author">{{ page.author | markdownify }}</span> &mdash; <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
          </header>
          <div class="article-content">
          {{ content }}
          </div>
      </article>
  </div>
</div>
