---
layout: default
---

{% include navigation.html active="privacy" %}
{% assign strings = site.data.strings[page.lang] %}

<div class="light-bg">
    <div class="white-bg col-8-container content-padding">
        <article class="col-6-container">
            <header class="article-header">
                <h1>Privacy Policy</h1>
            </header>
            <div class="article-content">
                <p>
                    Chia Network Inc. (“Chia,” “us,” “we”) protects any information that can be used to identify you directly or indirectly (“Personal Data”). This Privacy Policy (“Policy”) describes how Chia collects and processes Personal Data on the www.chia.net website and any other Chia websites on which this Policy appears (“Chia Ecosystem”).  By accessing, viewing, browsing, and otherwise using the Chia Ecosystem, you agree with this Policy. If you do not agree with any part of this Policy, you should not access, view, browse and otherwise use the Chia Ecosystem.
                </p>
                <h3 class="mb-4">I Have a Question About This Policy; How Can I Reach Chia?</h3>
                <p>
                    You may direct all questions and concerns about this Policy or questions regarding exercising your privacy rights to Chia Network Inc., 611 Gateway Blvd., Ste. 120 South San Francisco, California 94080, United States, a data controller for personal information collected and processed in connection with the Chia Ecosystem. You may contact Chia Network Inc. via regular mail or email at <em>privacy@chia.net</em>.
                <h3 class="mb-4">What Information Do We Collect and How Do We Collect It?</h3>

                <p>(1) Information you may provide to us:</p>
                <p>
                You may share information about you by corresponding with us, or filling in forms in the Chia Ecosystem, including information you provide when reporting a problem with the Chia Ecosystem, participating in the Chia beta testing program, or by corresponding with us by phone, email or otherwise.
                </p>
                <p>(2) Information we collect about you:</p>
                <p>
                We automatically log information about you and your computer when you visit the Chia Ecosystem, as explained in more detail below. This includes computer operating system type,‎ browser type, and language, how long you spent on a page,‎ access times,‎ geolocation, and information about your use of and actions on the Chia Ecosystem.
                </p>
                <p class="indent"><em>(a) Aggregate Data:</em></p>
                <p>
                As is true of most websites, Chia gathers certain information automatically and stores it in log files. This information includes aggregated data such as internet protocol (IP) address, operating system, browser type, internet service provider (ISP), referring/exit website pages, date/time stamp, clickstream data, and wallet services metrics (including your interactions with service features and content, your preferences, and occurrence of technical errors). We use this information, which does not identify individual users, to analyze trends, to administer the Chia Ecosystem, to track users’ movements around the Chia Ecosystem and to gather demographic information about our user base. We do not link this automatically collected data to personally identifiable information. We may disclose aggregated information about you and information that does not identify any individual or device, without restriction. 
                </p>
                <p class="indent"><em>(b) Tracking Technologies</em></p>
                Chia Ecosystem uses cookies. Cookies are small data files stored on your hard drive by a website. Cookies help Chia to make our Chia Ecosystem and your visit better. We may also use cookies to see which parts of the Chia Ecosystem people use and like, and to count visits. We process the cookie data collected in accordance with this Policy. You may, at any time, permanently deny the setting of cookies by changing the setting of your Internet browser. This is possible in all popular Internet browsers. However, deactivating the setting of cookies may change the availability of some functions available through the Chia Ecosystem.
                <p>
                You can learn more about how cookies work at: <a href="https://allaboutcookies.org/" target="_blank">https://allaboutcookies.org/</a>.
                </p>
                <h3 class="mb-4">What Legal Basis Do We Have to Collect Your Information?</h3>
                <p>
                Chia collects Personal Data only when we have a legal basis to do so.
                </p>
                <p>
                In most cases, and where processing of Personal Data does not unduly infringe your rights and freedoms, Chia relies on our legitimate interests in conducting normal business operations. Our legitimate interests include but are not limited to, enhancing the security of our network and information systems, carrying out processing operations for statistical purposes, and identifying or preventing fraud.
                </p>
                <p>
                We may need to process your Personal Data in order to negotiate or perform on a contract to which you are a party.
                </p>
                <p>
                In some cases, we may have to process your Personal Data to comply with laws and regulations.
                </p>
                <h3 class="mb-4">Does Chia Share My Personal Data?</h3>
                <p>
                Chia is not in the business of selling your Personal Data. However, your Personal Data may be shared with others in accordance with this Policy in the following circumstances:
                </p>
                <p class="indent"><em>(a) Third-party service providers</em></p>
                <p>
                Third-party providers employed by Chia to perform functions on our behalf may require access to Personal Data to perform their services. Such functions may include data analysis, payment processing, content transmission, etc. However, all third-party providers must process Personal Data in accordance with this Policy and as permitted by applicable data protection laws.
                </p>
                <p class="indent"><em>(b) Protection of Chia and others</em></p>
                <p>
                Chia may release Personal Data to comply with the law or with regulatory obligations; enforce or apply our Terms of Use and other agreements; protect Chia’s rights, property, and safety; and protect the rights, property, and safety of others.  
                </p>
                <h3 class="mb-4">How Secure is My Personal Data?</h3>
                <p>
                Chia Ecosystem is designed with security in mind. We use encryption protocols and software to protect your Personal Data during transmission, and work to maintain electronic, physical, and procedural safeguards when collecting, storing, or disclosing your Personal Data.
                </p>
                <h3 class="mb-4">Can I Withdraw My Consent for Chia’s Processing of My Personal Data?</h3>
                <p>
                If you consented to Chia’s processing of your Personal Data for a specified purpose, you may withdraw your consent at any time.  Subject to applicable law, you have the right to request access to, correct, and delete your personal data, and to ask for data portability. You may also object to our processing of your personal data or ask that we restrict the processing of your personal data in certain instances. If you wish to do any of these things, please contact <em>privacy@chia.net</em>.
                </p>
                <h3 class="mb-4">How Long Does Chia Keep My Personal Data?</h3>
                <p>
                We keep your personal information to enable your continued operation of the Chia Ecosystem, for as long as it is required in order to fulfill the relevant purposes described in this Policy, or as may be required by law such as for tax and accounting purposes, or as otherwise communicated to you.
                </p>
                <hr  />
                <p>
                    <em>Updated on: June 29, 2022</em>
                </p>
            </div>
        </article>
    </div>
</div>