---
layout: default
---

{% include navigation.html %}

{% assign strings = site.data.strings[page.lang] %}

<div class="light-bg">
	<div class="col-10-container featured-profile soft-shadow">
		<div class="featured-profile-img">
			<img src="{{ page.pic_url | escape }}" alt="{{ page.title }}">
			<img src="/img/astract/abstract-geometric-square-tile_@2x.png" alt="Abstract Geometic Square Tile">
		</div>
		<div class="featured-profile-txt-container contact">
			<div class="featured-profile-txt">
				<h1>{{ page.person-name }}</h1>
				
				<p class="profile-job-title">{{ page.position }}</p>
				
				<p>{{ content }}</p>
			</div>
		</div>
	</div>
</div>