---
layout: default
---

{% assign strings = site.data.strings[page.lang] %}
{% assign releases = site.releases | where:"lang",page.lang | reverse %}

{% include navigation.html active="releases" %}

<div class="releases-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-main-title mt-5">{{ strings.releases_title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="releases-box">
                <div class="text-center">{{ strings.releases_loading_message }}</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
fetch("https://api.github.com/repos/Chia-Network/chia-blockchain/releases").then(function(response) { return response.json(); }).then(function(jsonResult) {
    document.getElementById("releases-box").innerHTML = jsonResult.map(function(release) {
        var title = "Chia Blockchain " + release.name;
        var date = new Date(release.published_at).toLocaleDateString('en-US', {year: "numeric", month: "long", day: "numeric"});
        return (
            '<div class="release">' +
                '<a href="' + release.html_url + '" target="_blank" rel="noreferrer noopener">' + title + '</a>' +
                '<div class="order-md-first float-md-right">' + date + '</div>' +
            '</div>'
        )
    }).join('\n');
});
</script>