---
layout: default
---
{% include navigation.html active="stably" %}

{% assign strings = site.data.strings[page.lang] %}


<div class="pg-title">
    <div class="col-10-container">
        <h1>Stably</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
               Stably has launched the first dollar denominated stablecoin on Chia Network.
            </p>
            <p>
                Stably’s USDS is a CAT based on the CAT1 standard and is the first stablecoin to arrive on Chia Network. It is a dollar backed stablecoin where you can convert your USD to USDS by depositing your USDS through a <a href="https://prime.stably.io/user/signup" target="_blank">Stably Prime Trust account</a>. 
            </p>
            <hr>
            <h3>
                Who is Stably?
            </h3>
            <p>
                Stably is a FinTech company that helps traditional business bridge the crypto chasm. Stably provides technology infrastructure for asset tokenization through a whitelabel platform solution APIs and SDKs, as well as bespoke integrations.  Stably’s mission is to make financial transactions faster, cheaper, and more transparent through a borderless digital money platform powered by stablecoins and tokenized assets. To learn more about Stably, visit their <a href="https://stably.io" target="_blank">website</a>.  
            </p>
            <h3>
                Why is this important?
            </h3>
            <p>
                Stablecoins are integral part of all blockchain ecosystems and is important for the following reasons:
                <ul>
                <li>Creates stablecoin trading pairs - Chia ecosystem players will benefit from being able to seamlessly enter and exist XCH positions with a USDS/XCH trading pair</li>
                <li>More capital inflow - creating cheaper, decentralized opportunities to bring new capital into the Chia ecosystem</li>
                <li>Marketplace for chia tokens - with the Offers capability, there is now a decentralized marketplace for trading between different CATs</li>
                <li>Enterprise onboarding - For companies looking to participate in carbon credit auctions, they can quickly and easily acquire USDS to participate in on-chain auctions</li>
                <li>Low cost - There is no cost other than bank wire transfer fees to convert your USD and mint USDS on Chia</li>
                </ul>
            </p>
            </h3>
            <h3>
                What markets does it address?
            </h3>
            <p>
               <em>New entrants</em> - Users and institutions who are new entrants to the Chia ecosystem can use fiat, BTC, or ETH to buy USDS as a means of onboarding to the Chia ecosystem.
            </p>  
            <p>  
                <em>Farmers</em> - Chia farmers receive 100% of their farming rewards in XCH. USDS gives farmers an easy exit to stability in times of volatility without having to incur exchange fees.
            </p>
            <p>    
                <em>Investors</em> - Participants who want to frequently enter and exit their XCH position can do so easily with USDS and Chia Offer files.
            </p>
            <p>    
                <em>Enterprise carbon credit buyers</em> -  Enterprises who wish to participate in a carbon credit auction in which they acquire a CAT may use Offers to buy USDS from Stably Prime and trade USDS for carbon credit CATs.
            </p>
            <h3>
                How does USDS further Chia’s value proposition of secure, sustainable, and compliant?
            </h3>
            <p>
                <em>Secure:</em> USDS is CAT-based on the CAT1 standard and can be self-custodied. USDS was also not designed with centralized control features like clawbacks, balance freezing that other stablecoins have implemented.
            </p>
            <p>    
                <em>Compliant:</em> USDS is issued by Stably, who adhere to US securities and commodities laws, publish audited reports of its USD reserves, and retain 100% of its holdings in USD.
            </p>
            
            <h3>
                How do I get USDS on Chia?
            </h3>  
            <p>
                To get USDS, visit our <a href="https://chia.net/buy-xch">Buy XCH page</a>.
            </p>

        </div>
    </div>
</div>


