---
layout: default
---

{% include navigation.html %}
{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>Team</h1>
    </div>
</div>
<div class="white-bg content-padding">
    <div class="team-stat-items">
        <div class="team-stat-item soft-shadow">
            <p class="team-stat-title">Chia Founded</p>
            <p class="team-stat-content">2017</p>
        </div>
        <div class="team-stat-item soft-shadow">
            <p class="team-stat-title">Team Members</p>
            <p class="team-stat-content">65+</p>
        </div>
        <div class="team-stat-item soft-shadow">
            <p class="team-stat-title">Employee Countries</p>
            <p class="team-stat-content">12</p>
        </div>
    </div>
    <div class="team-page-members">
        <div class="team-member">
            <a href="/profiles/bram-cohen"><img src="/img/headshots/bram-cohen_@2x.jpg" alt="Bram Cohen"></a>
            <span class="team-name">Bram Cohen</span>
            <span class="team-title">Director, Chairman, Chief Executive Officer and Founder</span>
        </div>

        <div class="team-member">
            <a href="/profiles/gene-hoffman"><img src="/img/headshots/gene-hoffman_@2x.jpg" alt="Gene Hoffman"></a>
            <span class="team-name">Gene Hoffman</span>
            <span class="team-title">Director, Chief Operating Officer and President</span>
        </div>

        <div class="team-member">
            <a href="/profiles/misha-graboi"><img src="/img/headshots/misha-graboi_@2x.png" alt="Misha Graboi"></a>
            <span class="team-name">Misha Graboi</span>
            <span class="team-title">Chief Financial Officer</span>
        </div>

        <div class="team-member">
            <a href="/profiles/william-blanke"><img src="/img/headshots/william-blanke_@2x.png" alt="William Blanke"></a>
            <span class="team-name">Dr. William Blanke</span>
            <span class="team-title">VP of Engineering</span>
        </div>

        <div class="team-member">
            <a href="/profiles/steve-booth"><img src="/img/headshots/steve-booth_@2x.png" alt="Steve Booth"></a>
            <span class="team-name">Steve Booth</span>
            <span class="team-title">VP of Sales</span>
        </div>

        <div class="team-member">
            <a href="/profiles/neil-cohn"><img src="/img/headshots/neil-cohn_@2x.png" alt="Neil Cohn"></a>
            <span class="team-name">Neil Cohn</span>
            <span class="team-title">Global Head of Markets and Sustainability</span>
        </div>

        <div class="team-member">
            <a href="/profiles/j-eckert"><img src="/img/headshots/j-eckert_@2x.png" alt="J. Eckert"></a>
            <span class="team-name">J. Eckert</span>
            <span class="team-title">VP of Ecosystems Operations</span>
        </div>

        <div class="team-member">
            <a href="/profiles/ken-griggs"><img src="/img/headshots/ken-griggs_@2x.png" alt="Ken Griggs"></a>
            <span class="team-name">Ken Griggs</span>
            <span class="team-title">VP of Customer Success</span>
        </div>

        <div class="team-member">
            <a href="/profiles/paul-hainsworth"><img src="/img/headshots/paul-hainsworth_@2x.png" alt="Paul Hainsworth"></a>
            <span class="team-name">Paul Hainsworth</span>
            <span class="team-title">VP of Product</span>
        </div>

        <div class="team-member">
            <a href="/profiles/jonmichael-hands"><img src="/img/headshots/jonmichael-hands_@2x.png" alt="Jonmichael Hands"></a>
            <span class="team-name">Jonmichael Hands</span>
            <span class="team-title">VP Storage Business Development</span>
        </div>

        <div class="team-member">
            <a href="/profiles/vishal-kapoor"><img src="/img/headshots/vishal-kapoor_@2x.jpg" alt="Vishal Kapoor"></a>
            <span class="team-name">Vishal Kapoor</span>
            <span class="team-title">SVP of Business Development</span>
        </div>

        <div class="team-member">
            <a href="/profiles/russell-saito"><img src="/img/headshots/russell-saito_@2x.png" alt="Russell Saito"></a>
            <span class="team-name">Russell Saito</span>
            <span class="team-title">VP of Business Development</span>
        </div>

        <div class="team-member">
            <a href="/profiles/ali-shadle"><img src="/img/headshots/ali-shadle_@2x.png" alt="Ali Shadle"></a>
            <span class="team-name">Ali Shadle</span>
            <span class="team-title">VP of Operations</span>
        </div>

        <div class="team-member">
            <a href="/profiles/richard-tsao"><img src="/img/headshots/richard-tsao_@2x.png" alt="Richard Tsao"></a>
            <span class="team-name">Richard Tsao</span>
            <span class="team-title">VP of Business Development</span>
        </div>

        <div class="team-member">
            <img src="/img/team-headshots/jesse-bias.jpg" alt="Jesse Bias">
            <span class="team-name">Jesse Bias</span>
        </div>
    
        <div class="team-member">
            <img src="/img/team-headshots/craig-cornick.jpg" alt="Craig Cornick">
            <span class="team-name">Craig Cornick</span>
        </div>
    
        <div class="team-member">
            <img src="/img/team-headshots/rouben-gregorian.jpeg" alt="Rouben Gregorian">
            <span class="team-name">Rouben Gregorian</span>
        </div>
    
        <div class="team-member">
            <img src="/img/team-headshots/matt-howard.jpg" alt="Matt Howard">
            <span class="team-name">Matt Howard</span>
        </div>
    
        <div class="team-member">
            <img src="/img/team-headshots/lipa-long.jpg" alt="Lipa Long">
            <span class="team-name">Lipa Long</span>
        </div>
        
        <div class="team-member">
            <img src="/img/team-headshots/gretchen-lum.png" alt="Gretchen Lum">
            <span class="team-name">Gretchen Lum</span>
        </div>
    
        <div class="team-member">
            <img src="/img/team-headshots/roy-natian.jpg" alt="Roy Natian">
            <span class="team-name">Roy Natian</span>
        </div>
        
        <div class="team-member">
            <img src="/img/team-headshots/jack-nelson.jpg" alt="Jack Nelson">
            <span class="team-name">Jack Nelson</span>
        </div>
    
        <div class="team-member">
            <img src="/img/team-headshots/e-ming-saung.jpg" alt="E-ming Saung">
            <span class="team-name">E-ming Saung</span>
        </div>
    
        <div class="team-member">
            <img src="/img/team-headshots/austin-sirkin.jpg" alt="Austin Sirkin">
            <span class="team-name">Austin Sirkin</span>
        </div>
    
        <div class="team-member">
            <img src="/img/team-headshots/mariano-sorgente.jpg" alt="Mariano Sorgente">
            <span class="team-name">Mariano Sorgente</span>
        </div>
    </div>
</div>