---
layout: default
---

{% include navigation.html active="technology" %}

{% assign strings = site.data.strings[page.lang] %}

<div class="pg-title">
    <div class="col-10-container">
        <h1>Technology</h1>
    </div>
</div>

<div class="white-bg content-padding">
    <div class="col-8-container txt-col-blocks">
        <div class="full-width-col">
            <p class="lrg-txt">
               Chia is based upon an innovative consensus algorithm, <a href="/faq/#faq-3">Proof of Space and Time</a>, that leverages the vast amounts of <a href="https://idcdocserv.com/US47836321">over-allocated hard drive space</a> to create the first new Nakamoto Consensus since Bitcoin in 2009.
            </p>
            <p>
                Proof of Space is a cryptographic technique where farmers prove that they allocate unused hard drive space to the network. Proof of Time increases the overall security of the blockchain by increasing the attack resistance of our consensus to 51% in most cases. Learn more about PoST in the <a href="/greenpaper">Chia Green Paper</a> and our <a href="/assets/Chia-New-Consensus-0.9.pdf">new consensus working document</a> to see how our 1.1 version of consensus is secure up to 51% attacks in almost all conditions.
            </p>
            <p>
                Compared to proof of work blockchains, Chia is less energy intensive and more inclusive while being at least as secure. Compared to proof of stake blockchains, Chia is much less vulnerable to attack or manipulation and does not suffer from the problem of "the rich get richer" and the centralizing effects of staking. Chia delivers the security and safety of Bitcoin along with the functional benefits of a purpose built and more secure on chain smart coin environment.
            </p>
    </div>
</div>

<div class="light-bg">
    <div class="col-10-container featured-content soft-shadow">
        <div class="featured-content-txt-container">
            <div class="featured-content-txt">
                <h2>Chialisp</h2>
                <p>
                    Chia has a newly developed, innovative blockchain programming language called Chialisp, which is powerful, easy to audit, and secure. Chialisp is a superior on-chain smart transaction development environment that will unlock the security, transparency, and ease of use that cryptocurrencies promise. Learn more:

                </p>
                    <p><a class="button primary-button" href="https://www.chialisp.com" target="_blank">Chialisp.com</a></p>
            </div>
        </div>
        <div class="featured-content-img">
            <img src="/img/abstract/abstract-geometric-pattern-03_@2x.png" alt="Abstract Geometric Pattern">
        </div>
    </div>
</div>
<!--
<div class="white-bg content-padding">
    <div class="col-10-container">
        <div class="download-extras">
            <div class="download-extra-option soft-shadow">
                <h3>Chia Business Whitepaper Discussion - Asia</h3>
                <p>
                    When: Feb 11, 2021 04:00 PM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/9P0vaux2h6o" target="_blank">replay on Youtube</a>.
                </p>
            </div>

            <div class="download-extra-option soft-shadow">
                <h3>Chia Business Whitepaper Discussion - Europe</h3>
                <p>
                    When: Feb 12, 2021 10:00 AM Pacific Time (US and Canada)
                </p>
                <p>
                    Watch <a href="https://youtu.be/2uvlop-hlio" target="_blank">replay on Youtube</a>.
                </p>
            </div>
        </div>
    </div>
</div>
-->

</div>
